<div id="container">
  <div *ngIf="!submitted; else confirmEmailPage">
    <div id="title">
      <span id="welcome-back">Oops!</span>
      <span id="login">Forgot your password?</span>
      <span id="reset-password-note">Don't worry. Resetting your password is easy.<br/> Enter the email you used register with handshake</span>
    </div>

    <form id="form" [formGroup]="form" (ngSubmit)="resetPassword()" autocomplete="off">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Email"/>
        <span *ngIf="error" class="error">{{ error?.message }}</span>
        <app-control-messages [control]="form.controls['email']"></app-control-messages>
      </div>
      <div>
        <button id="submit" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  </div>
</div>

<ng-template #confirmEmailPage>
  <div id="title">
    <span id="welcome-back">Email Sent!</span>
    <span id="login">Check your inbox.</span>
    <span id="reset-password-note" [ngStyle]="{'line-height':'25px'}">An email has been sent to<br/><strong>{{email}}</strong><br/>
          Follow the instruction reset your password.</span>
  </div>

  <div id="form">
      <button id="submit" type="button" routerLink="/">Back to Sign in</button>
  </div>
</ng-template>
