@import "../../../../styles/variables";

#container {

  #title {
    display: flex;
    flex-direction: column;

    #line1 {
      font-size: 35px;
      line-height: 38px;
      font-weight: 800;
      color: #b7b7b7;
    }

    #line2 {
      font-size: 35px;
      line-height: 42px;
      font-weight: 800;
      color: $accent-color;
    }

    #line3 {
      font-size: 20px;
      line-height: 30px;
      color: #959595;
      margin-top: 40px;
      margin-right: 50px;
      font-weight: 300;
    }
  }

  section#info {
    margin-top: 40px;
    color: #000000;
    font-size: 15px;
    line-height: 18px;

    label {
      display: inline-block;
      font-weight: 600;
    }

    ul {
      li {
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
  }

  .email-sent {
    &#title {
      #line3 {
        line-height: 37px;

        span.email {
          color: #000000;
        }
      }
    }
  }

  #form {
    width: 500px;
    margin-top: 70px;
    font-size: 15px;
    line-height: 19px;
    color: $text-primary-color;

    #submit {
      color: #ffffff;
      width: 100%;
      height: 40px;
      font-size: 18px;
      line-height: 22px;
      background: transparent linear-gradient(337deg, #CCD839 0%, #7B9666 100%) 0% 0% no-repeat padding-box;
      border-radius: 20px;
      border: none;
      margin-top: 30px;
      cursor: pointer
    }
  }
}
