<div id="container">
  <div *ngIf="!submitted; else confirmResetPassword">
    <div id="title">
      <span id="line1">Oops!</span>
      <span id="line2">Forgot your password?</span>
      <span id="line3">Don't worry. Resetting your password is easy.<br/> Enter the email you used register with handshake</span>
    </div>

    <form id="form" [formGroup]="form" (ngSubmit)="resetPassword()" autocomplete="off">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <img src="assets/ic_email.svg" alt="">
          <input type="email" id="email" formControlName="email" placeholder="Email"/>
        </div>
        <span *ngIf="error" class="error"><i class="fa fa-exclamation-triangle"></i>{{ error?.message }}</span>
        <app-control-messages [control]="form.controls['email']"></app-control-messages>
      </div>
      <div>
        <button id="submit" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  </div>
</div>

<ng-template #confirmResetPassword>
  <div id="title" class="email-sent">
    <span id="line1">Email Sent!</span>
    <span id="line2">Check your inbox.</span>
    <span id="line3">An email has been sent to<br/><span class="email">{{email}}</span><br/>
          Follow the instruction reset your password.</span>
  </div>

  <div id="form">
      <button id="submit" type="button" routerLink="/">Back to Sign in</button>
  </div>

  <section id="info">
    <label>Haven’t received an email from Handshake?</label>
    <ul>
      <li>Check your Junk or Spam folders. </li>
      <li>Resend email</li>
      <li>Try another email address</li>
    </ul>
  </section>
</ng-template>
