#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E5F4FC;
  padding: 20px 120px;

  section#testimonials {
    min-width: 100px;
  }

  section#nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;

    #nav-social {
      display: flex;
      gap: 20px;

      a {
        width: 32px;
        height: 32px;
      }
    }

    #nav-links {
      display: flex;
      gap: 20px;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #646464;
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
}
