<div class="footer">
  <p class="footer-text-left">
    <small>Will be comments.</small>
  </p>

  <div id="footer-social">
    <a href="javascript:void(0)" class="icon-style" title="FB icon">FB</a>
    <a href="javascript:void(0)" class="icon-style" title="Twitter icon">TW</a>
    <a href="javascript:void(0)" class="icon-style" title="Instagram icon">IN</a>
    <a href="javascript:void(0)" class="icon-style" title="Youtube icon">YOU</a>
    <a href="javascript:void(0)" class="icon-style" title="Linkedin icon">LN</a>
  </div>
</div>
