<div id="container" class="footer-container">
  <section id="testimonials">
  </section>

  <section id="nav">
    <div id="nav-social">
      <a href="javascript:void(0)"><img src="assets/ic_footer_nav_facebook.svg" alt="facebook"></a>
      <a href="javascript:void(0)"><img src="assets/ic_footer_nav_twitter.svg" alt="twitter"></a>
      <a href="javascript:void(0)"><img src="assets/ic_footer_nav_instagram.svg" alt="instagram"></a>
      <a href="javascript:void(0)"><img src="assets/ic_footer_nav_youtube.svg" alt="youtube"></a>
      <a href="javascript:void(0)"><img src="assets/ic_footer_nav_linkedin.svg" alt="linkedin"></a>
    </div>

    <div id="nav-links">
      <a href="javascript:void(0)">About us</a>
      <a href="javascript:void(0)">Contact</a>
      <a routerLink="/terms-conditions">Terms of use</a>
      <a routerLink="/privacy-policy">Privacy policy</a>
      <a href="javascript:void(0)">&copy; Entangles.io. All rights reserved.</a>
    </div>
  </section>
</div>
