<section class="sidebar" id="groupAvailability">
  <div class="header">
    <h3>
      ENTANGLES
    </h3>
    <label id="title">Group Availabillity</label>
  </div>
  <div class="sidebar-content">
    <form action="" [formGroup]="form" (ngSubmit)="submit()">
      <div class="users-container mb-20">
        <ul class="users-list list-unstyled list-inline">
          <li class="list-inline-item user-info" *ngFor="let att of attendees">
            <div class="user-info-wrapper">
              <div class="user-portrait">
                <img *ngIf="att.avatar" [src]="att.avatar" alt="avatar">
                <span *ngIf="!att.avatar">{{ att.user.firstName | acronymName }}</span>
              </div>
              <div class="user-bio">
                <h5 class="full-name">{{ att.user.firstName }} {{ att.user.lastName }}</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="meeting-title-container mb-20">
        <h3 class="section-title-secondary"> Meeting title </h3>
        <div>{{ meetingTitle }}</div>
      </div>
      <div class="calendar-sidebar mb-20" [style.display]="componentData.isTimeslotSelected ? 'none' : ''">
        <h3 class="section-title-secondary">
          Calendar
        </h3>
        <full-calendar #calendar [options]="calendarOptions">
        </full-calendar>
      </div>
      <div class="current-meeting mb-20">
        <h3 class="section-title-secondary">
          Old meeting slot
        </h3>
        <div class="date-time-container">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item date d-flex align-items-center text-decoration-line-through">
              {{ oldTimeSlotData.timeslot?.start | parseTime:'ddd, MMM Do' }}
            </li>
            <li class="list-inline-item timeframe text-decoration-line-through">
              {{ oldTimeSlotData.timeslot?.start | parseTime:'hh:mmA'}}
              <p> - </p>
              {{ oldTimeSlotData.timeslot?.end | parseTime:'hh:mmA'}}
            </li>
          </ul>
        </div>
      </div>

      <div class="current-meeting mb-20">
        <h3 class="section-title-secondary">
          New meeting slot
        </h3>
        <div class="date-time-container">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item date d-flex align-items-center">
              {{ componentData.selectedTimeSlot?.start | parseTime:'ddd, MMM Do' }}
            </li>
            <li class="list-inline-item timeframe">
              <input type="text" id="meetingStartTime" name="meetingStartTime" placeholder="{{ componentData.selectedTimeSlot?.start | parseTime:'hh:mmA'}}" readonly>
              <p> - </p>
              <input type="text" id="meetingEndTime" name="meetingEndTime" placeholder="{{ componentData.selectedTimeSlot?.end | parseTime:'hh:mmA'}}" readonly>
            </li>
          </ul>
        </div>
      </div>
      <div class="other-details mb-20">
        <h3 class="section-title-secondary">
          Reason for rescheduling
        </h3>
        <div class="input-field">
          <textarea type="text" class="form-control" id="optionalNotes" placeholder="Add reason for rescheduling" formControlName="reason"></textarea>
          <div *ngIf="f['reason'].invalid && (f['reason'].dirty || f['reason'].touched)">
            <span class="error">
              <i class="fa fa-exclamation-triangle"></i>Please add the reasons for rescheduling
            </span>
          </div>
        </div>
      </div>
      <button type="submit" id="scheduleButton">Reschedule</button>

    </form>
   </div>
</section>
