<section class="meeting-title">
  <div class="header">
    <h2 class="section-title text-center">
      Meeting
    </h2>
    <button class="close-button" id="closeButton">
      <img src="assets/close-icon.svg" alt="close button" (click)="close()">
    </button>
  </div>
  <span id="no-calendar" *ngIf="!hasCalendars">Connect your external calendar to schedule an event.</span>
  <form id="meetingTitle" action="">
    <div class="form-group">
      <h3 class="section-title-secondary">
        Title
      </h3>
      <input class="form-control" type="text" name="title" id="title">
    </div>
    <div class="form-group">
      <h3 class="section-title-secondary">
        Duration
      </h3>
      <div class="duration-radio">
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="15minutes" value="15 minutes">
          <label for="15minutes">15m</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="30minutes" value="30 minutes">
          <label for="30minutes">30m</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="45minutes" value="45 minutes">
          <label for="45minutes">45m</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="60minutes" value="60 minutes" checked>
          <label for="60minutes">60m</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="custom" value="custom">
          <label for="custom">Custom</label>
        </div>
      </div>
      <!-- <div class="form-group">
        <h3 class="section-title-secondary">
          Duration
        </h3>
        <div class="duration-radio">
          <div class="duration-radio-wrapper">
            <input type="radio" name="duration" id="15minutes" value="15 minutes">
            <label for="15minutes">15m</label>
          </div>
          <div class="duration-radio-wrapper">
            <input type="radio" name="duration" id="30minutes" value="30 minutes">
            <label for="30minutes">30m</label>
          </div>
          <div class="duration-radio-wrapper">
            <input type="radio" name="duration" id="45minutes" value="45 minutes">
            <label for="45minutes">45m</label>
          </div>
          <div class="duration-radio-wrapper">
            <input type="radio" name="duration" id="60minutes" value="60 minutes" checked>
            <label for="60minutes">60m</label>
          </div>
          <div class="duration-radio-wrapper">
            <input type="radio" name="duration" id="custom" value="custom">
            <label for="custom">Custom</label>
          </div>
        </div>
        <input class="form-control" type="text" name="duration" id="customDuration">
      </div> -->

      <div class="form-group">
        <h3 class="section-title-secondary">
          Attendees
        </h3>
        <app-chip-email-input [emails]="data.attendees ?? []" (emailUpdateEvent)="updateAttendeeEmails($event)"></app-chip-email-input>
      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Optional
        </h3>
        <app-chip-email-input [emails]="data.optionalAttendees ?? []" (emailUpdateEvent)="updateOptionalAttendeeEmails($event)"></app-chip-email-input>
      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Date/Time
        </h3>
        <div class="date-time-container">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item date">
              <p>{{ parsedDate }}</p>
            </li>
            <li class="list-inline-item timeframe">
              <p>{{ parsedStartTime }} - {{ parsedEndTime }}</p>
            </li>
            <li class="list-inline-item timezone">
              <!-- <img src="assets/canada-flag.png" alt="timezone"> -->
              <p>{{ timezone }}</p>
            </li>
          </ul>
        </div>
        <div class="save-to-calendar">
          <h6>Save this event in <span (click)="showCalendars = !showCalendars"><img [src]="getCalendarIcon(selectedCalendar?.type ?? null)" alt="calendar icon"> {{ selectedCalendar?.summary ?? "N/A" }}</span></h6>
          <div id="calendar-dropdown" *ngIf="showCalendars">
            <span *ngFor="let calendar of myCalendars" (click)="selectCalendar(calendar)">
              <img [src]="getCalendarIcon(calendar.type)" alt="calendar icon"> {{ calendar.summary }}
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Location
        </h3>
        <input class="form-control" type="text" name="meetingLocation" [(ngModel)]="data.meetLink"
              id="meetingLocation" placeholder="">
      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Text
        </h3>
        <textarea class="form-control" name="customMessage" id="customMessage" style="resize: none"
                  placeholder="Add your message here..." [(ngModel)]="data.description"></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <button class="send-request" (click)="scheduleEvent()">
          Send
        </button>
      </div>
    </fieldset>
  </form>
</section>
