<section class="meeting-title">
  <div class="header">
    <h3>ENTANGLES</h3>
  </div>
  <span id="no-calendar" *ngIf="!hasCalendars">Connect your external calendar to schedule an event.</span>
  <form id="meetingTitle" action="">
    <div class="form-group">
      <h3 class="section-title-secondary">
        Title
      </h3>
      <input class="form-control" type="text" name="title" id="title">
    </div>
    <div class="form-group">
      <h3 class="section-title-secondary">
        Duration
      </h3>
      <div class="duration-radio">
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="15minutes" value="15 minutes">
          <label for="15minutes">15m</label>


        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="30minutes" value="30 minutes">
          <label for="30minutes">30m</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="45minutes" value="45 minutes">
          <label for="45minutes">45m</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="60minutes" value="60 minutes" checked>
          <label for="60minutes">60m</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="custom" value="custom">
          <label for="custom">Custom</label>
        </div>
      </div>

      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Attendees
        </h3>
        <div class="accordion">
          <div class="accordian-content">
            <app-chip-user-input [users]="selectedAttendees" [contacts]="attendeesOptions"
            [contactsOnly]="true" (userUpdateEvent)="updateAttendees($event)"
            (userAddEvent)="onItemSelect($event)" (userRemoveEvent)="onRemoveItem($event)"></app-chip-user-input>
          </div>
        </div>


        <!-- <ng-multiselect-dropdown formControlName="attendees" [placeholder]="'Select Attendees'"
          [settings]="dropdownSettings" [data]="attendeesOptions" (onSelect)="onItemSelect($event)"
          (onDeSelect)="onRemoveItem($event)" [(ngModel)]="selectedAttendees">
        </ng-multiselect-dropdown> -->

      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Optional
        </h3>
        <app-chip-email-input [emails]="data.optionalAttendees ?? []" (hasError)="updateFieldError($event)"
          (emailUpdateEvent)="updateOptionalAttendeeEmails($event)">
        </app-chip-email-input>
      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Date/Time
        </h3>
        <div class="date-time-container {{ this.data.start ? 'date-selected': ''}}">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item date">
              <input type="text" id="meetingDate" name="meetingDate" placeholder="{{ parsedDate }}" readonly>
            </li>
            <li class="list-inline-item timeframe">
              <input type="text" id="meetingStartTime" name="meetingStartTime"
                placeholder="{{ this.data.start | parseTime:'hh:mmA' }}" readonly>
              <p> - </p>
              <input type="text" id="meetingEndTime" name="meetingEndTime"
                placeholder="{{ this.data.end | parseTime:'hh:mmA' }}" readonly>
            </li>
            
          </ul>
          <div>
            <button  id="remove-button" class="remove-button {{ !this.data.start ? 'hidden': ''}}" (click)="resetSelectedDate()"></button>
          </div>
        </div>
        <div class="save-to-calendar" *ngIf="hasCalendars">
          <h6>Save this event in <span (click)="showCalendars = !showCalendars"><img
                [src]="getCalendarIcon(selectedCalendar?.calendarType ?? null)" alt="calendar icon">
              {{ selectedCalendar?.summary ?? "N/A" }}</span></h6>
          <div id="calendar-dropdown" *ngIf="showCalendars">
            <span *ngFor="let calendar of myCalendars" (click)="selectCalendar(calendar)">
              <img [src]="getCalendarIcon(calendar?.calendarType ?? null)" alt="calendar icon"> {{ calendar.summary }}
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Location
        </h3>
        <div class="select-wrapper">
          <div class="select open">
            <div class="select__trigger" (click)="showLocation = !showLocation">
              <span  *ngIf="!choosedLocationObj?.title">Choose...</span>
              <div *ngIf="choosedLocationObj?.title" class="d-flex custom-option">
                <span class="logo">
                  <img [src]="choosedLocationObj?.image" alt="{{choosedLocationObj?.title}}">
                </span>
                <div class="text">
                  <span>
                    {{ choosedLocationObj?.title }}
                  </span>
                  <p>
                    {{ choosedLocationObj?.sub_title }}
                  </p>
                </div>
              </div>
              <img src="assets/ic_expand.svg">
            </div>
            <div class="custom-options" *ngIf="showLocation">
              <span class="custom-option" *ngFor="let loc of locations" (click)="chooseLocation(loc)">
                <span class="logo">
                  <img [src]="loc.image" alt="{{loc.title}}">
                </span>
                <div class="text">
                  <span>
                    {{ loc.title }}
                  </span>
                  <p>
                    {{ loc.sub_title }}
                  </p>
                </div>
              </span>
            </div>
          </div>
        </div>
        <ng-container *ngIf="choosedLocationObj?.value == MeetViaEnum.InboundCall">
          <h3 class="section-title-secondary mt-4 mb-2">
            Phone number
          </h3>
          <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber">
        </ng-container>

        <ng-container *ngIf="choosedLocationObj?.value == MeetViaEnum.PhysicalAddress">
          <h3 class="section-title-secondary mt-4 mb-2">
            Address
          </h3>
          <input type="text" [(ngModel)]="address" name="address">
        </ng-container>

        <div class="connect-message" *ngIf="connectMessage.title != ''">
          Please <a href="javascript:void(0)" (click)="connect(connectMessage.type)">connect</a><span class="">
            {{connectMessage.title}}</span>
          to your account
        </div>

      </div>
      <div class="form-group">
        <h3 class="section-title-secondary">
          Text
        </h3>
        <textarea class="form-control" name="customMessage" id="customMessage" style="resize: none"
          placeholder="Add your message here..." [(ngModel)]="data.description"></textarea>
      </div>

      <div class="d-flex justify-content-end">
        <button class="send-request">
          Send
        </button>
      </div>
      <div class="error  {{errorMessages.length ? 'animate' : ''}} d-flex flex-column">
        <span class=" w-100" *ngFor="let errorMessage of errorMessages">
          <i class="fa fa-exclamation-triangle"></i>{{errorMessage}}
        </span>
      </div>

    </fieldset>
  </form>
</section>
