section.meeting-title {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  overflow: scroll;
  .header {
    position: relative;

    h2.section-title {
      font-size: 22px;
      font-weight: bold;
      font-family: 'Lexend Deca', sans-serif;
      line-height: 28px;
      margin-bottom: 12px;
    }

    button.close-button {
      border-radius: 50%;
      border: 0;
      background: #f1f1f1;
      height: 26px;
      width: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -8px;
      right: -10px;
      color: #707070;

      img {
        height: 13px;
      }

      &:hover {
        background-color: #e9e9e9;
        transition: 0.4s ease;
      }
    }
  }

  form#meetingTitle {
    border: 1px solid #e3dddd;
    padding: 15px 10px;
    border-radius: 10px;
    height: calc(100% - 40px);
    overflow: scroll;
    .form-control:focus {
      outline: none;
      border-color: unset;
      box-shadow: 0 0 0 0 rgb(0 0 0 / 0%)
    }

    h3.section-title-secondary {
      font-size: 18px;
      text-align: left;
      font-family: 'Lexend Deca', sans-serif;
      line-height: 23px;
      margin-bottom: 16px;
      font-weight: bold;
    }

    .duration-radio {
      display: flex;
      justify-content: space-between;

      .duration-radio-wrapper {
        display: flex;

        label {
          color: #707070;
          font-weight: unset;
          font-size: 18px;
          font-family: 'Lexend Deca', sans-serif;
          margin-bottom: 16px;
          line-height: 23px;

        }

        input[type=radio] {
          display: none;
          margin: 10px;
        }

        input[type=radio] + label {
          display: inline-block;
          padding: 2px 8px;
          cursor: pointer;

        }

        input[type=radio]:checked + label {
          background-color: #E9F6FD;
        }
      }
    }

    .attendees-container {
      border-radius: 12px;
      border: 1px solid #d8d8d8;
      padding: 12px;
      text-align: left;

      ul.attendees-list {
        text-align: left;
        display: -webkit-inline-box;
        width: 100%;
        margin-bottom: 0;

        li + li {
          margin-top: 10px;
        }

        li.attendee-info {

          .attendee-info-wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            border: 1px solid #d6d6d6;
            border-radius: 28px;
            padding: 2px 5px 2px 4px;
            width: fit-content;
            height: 45px;

            .attendee-portrait {
              img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
              }
            }

            .attendee-bio {
              margin: 0 8px;

              h5.full-name {
                font-family: 'Lexend Deca', sans-serif;
                font-size: 13px;
                margin-bottom: 1px;
                color: #000;
              }

              h6.contact-company {
                font-family: 'Lexend Deca', sans-serif;
                font-size: 11px;
                color: #360989;
                margin-bottom: 0;
              }
            }


            button.remove-button {
              border-radius: 50%;
              border: 0;
              background: #f1f1f1;
              height: 26px;
              width: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #707070;

              img {
                height: 13px;
              }

              &:hover {
                background-color: #e9e9e9;
                transition: 0.4s ease;
              }
            }
          }


        }

        li.attendee-email-input {


          input {
            border: 0;
          }
        }
      }


    }

    .optional-attendee-container {
      border-radius: 12px;
      border: 1px solid #d8d8d8;
      padding: 12px;
      text-align: left;

      ul.optional-attendees-list {
        text-align: left;
        display: -webkit-inline-box;
        width: 100%;
        margin-bottom: 0;

        li + li {
          margin-top: 10px;
        }

        li.optional-attendee-info {

          .attendee-info-wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            border: 1px solid #d6d6d6;
            border-radius: 28px;
            padding: 2px 5px 2px 4px;
            width: fit-content;
            height: 45px;

            .attendee-portrait {
              img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
              }
            }

            .attendee-bio {
              margin: 0 8px;

              h5.full-name {
                font-family: 'Lexend Deca', sans-serif;
                font-size: 13px;
                margin-bottom: 1px;
                color: #000;
              }

              h6.contact-company {
                font-family: 'Lexend Deca', sans-serif;
                font-size: 11px;
                color: #360989;
                margin-bottom: 0;
              }
            }


            button.remove-button {
              border-radius: 50%;
              border: 0;
              background: #f1f1f1;
              height: 26px;
              width: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #707070;

              img {
                height: 13px;
              }

              &:hover {
                background-color: #e9e9e9;
                transition: 0.4s ease;
              }
            }
          }

        }

        li.optional-attendee-email-input {


          input {
            border: 0;
          }
        }

      }

    }

    .date-time-container {
      border-radius: 12px;
      border: 1px solid #d8d8d8;
      padding: 12px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;

        li {
          margin-right: 0;

          & + li {
            border-left: 1px solid #656565;
            margin-left: 7px;
            padding-left: 7px;
          }

          p {
            margin-bottom: 0;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 14px;
            color: #656565;
          }
        }

        li.timezone {
          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            height: 20px;
            margin-right: 5px;
          }
        }

        li.timeframe {
          p {
            color: #4A8638;
          }
        }
      }

      button.remove-button {
        border-radius: 50%;
        border: 0;
        background: #f1f1f1;
        height: 26px;
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #707070;

        img {
          height: 13px;
        }

        &:hover {
          background-color: #e9e9e9;
          transition: 0.4s ease;
        }
      }
    }

    a.save-to-outlook {
      text-decoration: none;
      text-align: left;
      padding: 4px 8px;
      margin-top: 10px;
      margin-left: 5px;
      border-radius: 5px;
      background-color: #fff;
      width: fit-content;

      &:hover {
        transition: 0.4s ease;
        background-color: #E9F6FD;
      }

      h6 {
        margin-bottom: 0;
        color: #656565;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 15px;

        img {
          height: 25px;
          margin: 0 3px;
        }
      }
    }

    input, textarea {
      border-radius: 12px;
      border: 1px solid #d8d8d8;
      padding: 12px;
      outline: none;
    }


    button.send-request {
      background: #47B8F6;
      border-radius: 33px;
      padding: 5px 15px;
      border: 0;
      color: #fff;
      font-size: 16px;
      font-family: 'Lexend Deca', sans-serif;

      &:hover {
        background-color: #1d97dc;
        transition: 0.4s ease;
      }
    }

    textarea {
      height: 150px;
    }

    textarea::placeholder {
      color: #000;
      font-family: 'Lexend Deca', sans-serif;
      line-height: 1.2;
    }

    input#meetingLocation::placeholder{
      font-family: 'Lexend Deca', sans-serif;
      font-size: 15px;
      color: #656565;
    }
  }
}
