<div id="container">
  <div id="picker">
    <span id="input" class="input" role="textbox" contenteditable (input)="timeUpdated($event)">{{ time }}</span>
    <button (click)="toggleDropdown()"><img src="assets/ic_chev_down.svg"></button>
    <div id="dropdown" *ngIf="showDropdown">
        <span *ngFor="let slot of timeSlots"
          id="{{ generateSlotId(slot) }}"
          [ngClass]="{'selected': isSelected(slot)}"
          (click)="selectSlot(slot)">{{ slot }}</span>
    </div>
  </div>
  <div id="meridian" *ngIf="meridian">
    <button [ngClass]="inAM ? 'checked' : ''" (click)="inAMUpdated(true)">AM</button>
    <button [ngClass]="!inAM ? 'checked' : ''" (click)="inAMUpdated(false)">PM</button>
  </div>
</div>
