<section class="privacy-policy">
  <div class="container">
    <h1>Privacy policy</h1>
    <div class="privacy-policy-wrapper">
      <div class="header">
        We operate under following privacy policy
      </div>
      <div class="body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa cupiditate dolorem eaque enim illo
        inventore molestias odit quaerat sequi. At atque autem blanditiis debitis eligendi esse excepturi, ipsum libero
        molestias obcaecati perferendis quaerat qui quod sapiente sunt temporibus ut voluptatem! Consequatur esse hic
        laboriosam magni minima neque praesentium ratione tenetur ullam vero! Architecto asperiores blanditiis
        consectetur cumque, delectus deleniti deserunt dignissimos eligendi eveniet hic, libero nulla officiis porro
        provident quae quod recusandae rem repellendus rerum saepe tempore totam velit voluptas. Amet animi asperiores
        atque aut debitis deleniti dignissimos, distinctio doloribus ducimus ea eos et ex facere incidunt maxime minus
        mollitia nihil nulla obcaecati odio officiis omnis perspiciatis quia quidem quod rerum sequi. Accusamus
        accusantium alias aspernatur, blanditiis, cum cumque eius eos error fugiat, fugit laborum modi mollitia natus
        quasi repellendus ullam voluptate voluptatibus. Consequuntur cupiditate explicabo minima modi nemo nihil, nobis
        placeat repellat sapiente tenetur! Aliquam autem commodi corporis cum, deserunt dolores ea enim eos et eveniet
        ex excepturi explicabo laudantium maiores minus nemo nulla obcaecati quas quisquam quod saepe sapiente tempora
        tempore totam ut vitae voluptas voluptatem. Accusamus cumque dolore enim nesciunt optio quia quo recusandae sint
        temporibus. Animi asperiores atque debitis dolor dolorem doloremque dolorum ea eius et fugit, illo ipsam iste
        itaque labore laboriosam maxime minima minus molestiae nam necessitatibus nobis odit perspiciatis reprehenderit
        rerum sit velit voluptate voluptatibus. Ab consequuntur corporis debitis dolores expedita illum nihil
        perferendis placeat quaerat quam quisquam recusandae saepe sit sunt, veritatis? Adipisci dicta facere id,
        impedit pariatur quia saepe veritatis voluptas. A aut commodi delectus fuga, maiores neque nesciunt non officia
        placeat quae reiciendis tempore ut velit. Accusantium autem debitis deleniti distinctio eius explicabo itaque
        odit quisquam repellat tempora. Alias consequatur dolor dolorem eligendi et excepturi fugit iusto laborum
        maiores, mollitia nesciunt obcaecati odio officiis optio quas, quasi, quisquam sed tempora veniam veritatis.
        Minus, reprehenderit, veritatis. Aliquam consequuntur distinctio magni quae repellat sint ullam. Earum fuga
        fugit magni maxime molestiae nihil odio perspiciatis voluptatum. Ab ad adipisci at aut dignissimos dolore
        doloremque dolores dolorum, ea, eaque eos error et facilis iste, itaque iusto laboriosam laborum laudantium
        maiores nisi nobis officia praesentium quasi quia quod reiciendis reprehenderit sapiente sequi tenetur totam
        ullam ut veritatis voluptatum? Animi blanditiis commodi dolorem dolores ducimus eligendi eum facere ipsa
        molestiae, necessitatibus nulla odio porro quasi ratione recusandae reiciendis sit. Aperiam architecto dolorem
        expedita hic ipsum iste itaque molestiae nam natus, optio placeat rem, similique temporibus totam vel. Adipisci
        assumenda autem consectetur debitis, deserunt eos error facere hic ipsa labore magnam nesciunt nihil nulla, qui
        quibusdam quis quo sint soluta sunt tenetur ullam vel voluptate. Adipisci amet architecto autem debitis dicta ex
        fugiat nihil rem saepe? Adipisci aliquam aliquid animi asperiores, at aut commodi cum cumque doloribus ea eaque
        earum error eum fuga id ipsum magni nemo officiis placeat praesentium quasi quidem quis repellat rerum suscipit
        tempore totam ut vel veniam veritatis vero voluptates voluptatibus voluptatum. Accusamus amet animi, architecto
        aut autem, delectus dicta ducimus earum eligendi error esse id ipsa laboriosam laudantium necessitatibus officia
        omnis perferendis porro possimus praesentium quam quasi qui quia quos recusandae repellendus totam ullam vero
        vitae voluptatem. Ab alias animi architecto cupiditate debitis eius fugit illum, impedit in, ipsa iure
        laudantium minima minus natus neque nihil nisi numquam odit optio possimus quia, recusandae rerum sapiente sit
        voluptate. Accusamus autem consectetur, corporis id ipsam itaque! Ad aspernatur eaque eius inventore, laborum
        natus perspiciatis quibusdam quis totam vitae. Ab accusamus, accusantium aliquam aliquid asperiores blanditiis
        consectetur deserunt dolores enim esse hic incidunt ipsum iste iure maxime molestiae nisi nulla odio officia
        pariatur porro possimus, quae quis recusandae reiciendis rem sapiente sint unde vel veniam. Adipisci assumenda
        dolorem excepturi iste magnam? Ab beatae harum iusto nam necessitatibus nihil obcaecati saepe suscipit unde
        voluptatem. Amet dolore doloremque enim expedita nemo quia repellendus saepe sapiente. Aliquid animi culpa
        dolore ea eaque enim inventore itaque, obcaecati sed sequi similique suscipit voluptate! Dolores, facere, nam!
        Ad aliquam beatae commodi consequatur delectus deserunt dolorem doloribus earum enim esse est fuga fugit hic,
        impedit ipsam iure laboriosam laborum minima neque, placeat quas quidem reiciendis repellat repellendus tempora
        velit veritatis voluptatibus? Accusantium atque consequatur dolor est illo, impedit, ipsum itaque iusto laborum
        optio possimus reiciendis saepe sed sint sunt suscipit tempore tenetur ullam veritatis voluptas. Adipisci
        aliquid consequuntur, deserunt ducimus ea hic laborum maiores praesentium quam quo recusandae repellat rerum,
        soluta sunt, voluptas. Alias, amet, architecto culpa dolor dolorem ducimus eum impedit incidunt optio
        praesentium quas quasi similique ullam vero, voluptas. Aliquid deserunt dolorem eius illo illum inventore
        laboriosam laudantium nobis praesentium quam repellat, sapiente? Aliquid aperiam architecto deleniti eaque fuga
        harum laboriosam non quisquam sit! Deleniti earum ipsam ut? Aperiam deserunt exercitationem incidunt itaque
        magnam quam repellendus reprehenderit sapiente soluta suscipit? A ab debitis distinctio doloribus error est, ex
        hic impedit iste odio officiis totam voluptas? Cumque nobis, totam. Aspernatur consequatur dicta ducimus
        eligendi excepturi fugit ipsam non? Adipisci asperiores, consectetur, cum cupiditate delectus deleniti dicta
        dignissimos dolorem error est eveniet explicabo fugit id libero maiores, minima necessitatibus nesciunt nostrum
        obcaecati quisquam repudiandae similique voluptate voluptatum? Aliquid aspernatur nihil odio possimus
        praesentium ratione sit. Blanditiis commodi corporis cumque dolores error itaque iure, iusto labore magni,
        maiores nulla officiis perferendis possimus quae quasi quia, quibusdam quo rem sed tenetur ullam voluptatem
        voluptatibus! Aliquam deleniti dolore dolorem, dolorum eius est eum excepturi explicabo ipsam, molestias quaerat
        quidem sit totam! Adipisci atque et eum, eveniet, harum natus nihil nisi odit omnis praesentium, repudiandae
        sunt tempora. Assumenda cumque ea, eaque error esse eum explicabo harum impedit iure libero possimus quam qui
        recusandae sequi, sit sunt velit voluptatum? Dolorem quam qui quia sit voluptatibus? Animi dolores earum eos
        fugit ipsum iure molestiae neque nobis officia provident quam, quidem reprehenderit saepe suscipit, tenetur
        veniam voluptatem voluptates? Delectus dolorum ex incidunt rem! Aliquid architecto aut consequuntur distinctio
        fugit officia officiis perspiciatis provident reiciendis repudiandae, saepe suscipit vitae, voluptas. Amet
        expedita, facere fugit id illum odit quas rerum voluptatibus. Animi fugiat harum laboriosam laborum nobis
        obcaecati perferendis porro repudiandae soluta tempore. Est et explicabo, illum quod reprehenderit saepe.
      </div>
    </div>
  </div>

  <div class="privacy-policy-footer-component">
    <div id="nav">
      <div id="nav-social">
        <a href="javascript:void(0)"><img src="assets/ic_footer_nav_facebook.svg" alt="facebook"></a>
        <a href="javascript:void(0)"><img src="assets/ic_footer_nav_twitter.svg" alt="twitter"></a>
        <a href="javascript:void(0)"><img src="assets/ic_footer_nav_slack.svg" alt="instagram"></a>
        <a href="javascript:void(0)"><img src="assets/ic_footer_nav_youtube.svg" alt="youtube"></a>
        <a href="javascript:void(0)"><img src="assets/ic_footer_nav_linkedin.svg" alt="linkedin"></a>
      </div>

      <div id="nav-links">
        <a href="javascript:void(0)">About us</a>
        <a href="mailto:support@entangles.io">Contact us</a>
        <a routerLink="/terms-conditions">Terms of use</a>
        <a routerLink="/privacy-policy">Privacy policy</a>
      </div>
      <div class="copyright">
        Made with <img src="assets/heart.png" alt="heart"> by Entangles. All rights reserved.
      </div>
    </div>
  </div>
</section>

