section.privacy-policy {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F8FA;

  h1 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
    color: #0C105A;
    margin-bottom: 41px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    line-height: 55px;
  }

  .privacy-policy-wrapper {
    padding: 43px 107px 43px 43px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;


    .header {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      letter-spacing: 1.64px;
      color: #0C105A;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: bold;
      width: 100%;
    }

    .body {
      font-family: "Open Sans";
      font-weight: 300;
      letter-spacing: 0.16px;
      font-size: 16px;
      height: 450px;
      overflow: scroll;
    }

  }

  .privacy-policy-footer-component {
    background-color: #F6F8FA !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 30px 20px 30px;
    position: relative;
    margin-top: 0;
    z-index: 3;


    #nav {
      text-align: center;

      #nav-social {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;

        a {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          img{
            width: 32px;
            height: 32px;
          }
          &:hover{
            transition: 0.4s ease;
            box-shadow: rgb(0 0 0 / 40%) 0px 3px 9px;
          }
        }
      }

      #nav-links {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          font-family: 'Open Sans', sans-serif;
          cursor: pointer;
          color: #646464;
          font-size: 10px;
          line-height: 22px;
          &:hover{
            transition: 0.4s ease;
            color: #3B37DE;
          }
        }
      }

      .copyright {
        font-family: 'Open Sans', sans-serif;
        line-height: 20px;
        font-size: 15px;
        color: #939393;
        font-style: italic;
        font-weight: 600;
        text-align: center;

        img {
          height: 20px;
          margin: 0 2px 2px 2px;
        }
      }
    }
  }
}
