/* You can add global styles to this file, and also import other style files */
html, body {
  height: calc(100% - 8px);
}

.flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-full {
    > * {
      flex: 1;
    }
  }
}