<section class="sharable-links" id="sharableLinks">
  <div class="header">
    <h2 class="section-title text-center">
      Sharable Links
    </h2>
    <button class="close-button" (click)="close()">
      <img src="assets/close-icon.svg" alt="close button">
    </button>
  </div>
  <div class="sharable-links-body">
    <ul class="list-unstyled">
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="sharable-link-container" id="sharableLinkContainer">
        <div class="sharable-link-container-header">
          <ul class="list-unstyled list-inline users-avatars" id="usersAvatars">
            <li class="list-inline-item user-avatar">
              <img src="assets/brianchesky.jpg" alt="brian chesky">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/alexisohanian.jpeg" alt="alexis ohanian">
            </li>
            <li class="list-inline-item user-avatar">
              <img src="assets/paulbuchheit.jpeg" alt="paul buchheit">
            </li>
          </ul>
          <div class="sharable-link-info" id="sharableLinkInfo">
            <h4 class="created-by">Created by Brian</h4>
            <h4 class="date" id="date">
              Oct 09, 2022
            </h4>
          </div>
        </div>
        <div class="sharable-link-container-footer">
          <button class="link">
            entangles.io/D538hul9/85wow
          </button>
          <ul class="list-unstyled list-inline actions">
            <li class="list-inline-item">
              <button class="delete">
                <img src="assets/trash-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="edit">
                <img src="assets/edit-icon.png" alt="trash icon">
              </button>
            </li>
            <li class="list-inline-item">
              <button class="copy">
                <img src="assets/copy-icon.png" alt="trash icon">
              </button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="d-flex justify-content-end">
      <button class="create-button" routerLink="/calendar/sharable-link">
        Create new
      </button>
    </div>
  </div>
</section>

