<section class="sharable-links" id="sharableLinks">
  <div class="header">
    <h3>ENTANGLES</h3>
    <label id="title">Sharable links</label>
  </div>
  <div class="sharable-links-body">
    <ul class="list-unstyled">
      <ng-container #itemsContainer></ng-container>
      <ng-template #item let-link="item">
        <li class="sharable-link-container position-relative" id="sharableLink-{{link.id}}">
          <app-sharable-link-item [link]="link" (deleteLinkEvent)="deleteLink(link.id)"></app-sharable-link-item>
        </li>
      </ng-template>
    </ul>
    <div class="d-flex justify-content-end">
      <button class="create-button" routerLink="/calendar/sharable-link/create">
        Create new
      </button>
    </div>
  </div>
</section>

