<div class="container-fluid">
    <div>
        <span id="title">{{ title }}</span>
    </div>
    <div id="nav">
        <div *ngIf="!isAuthenticated && !isLoginPage">
            <span>Have an account?</span>
            <button (click)="login()">Sign in</button>
        </div>
        <div *ngIf="!isAuthenticated && isLoginPage">
            <span>Need an account?</span>
            <button (click)="register()">Register</button>
        </div>
        <span *ngIf="isAuthenticated" class="button" (click)="logout()">Log out</span>
    </div>
</div>
