section.upload-picture {
  padding-top: 10%;


  .upload-picture-wrapper {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    position: relative;

    label.header {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #000;
      padding: 37px 68px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
    }

    .upload-picture-header {
      padding: 15px 68px 60px 68px;

      .profile-picture {
        display: flex;
        align-items: center;

        .profile-avatar {
          margin-right: 38px;

          img {
            height: 92px;
            width: 92px;
            border-radius: 50%;
          }
        }

        .profile-picture-input {
          border: 1px dashed #70707040;
          padding: 11px 38px 8px 38px;
          text-align: center;

          label {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              margin-bottom: 5px;
              height: 20px;
            }

            h5 {
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              color: #000000;
              margin-bottom: 0;
            }

            input {
              display: none;
            }
          }

          .document-type {
            margin-top: 10px;

            h6 {
              font-family: 'Open Sans', sans-serif;
              font-style: italic;
              font-size: 13px;
              color: #000000;
              font-weight: 300;
              margin-bottom: 0;
            }
          }

        }

      }

      border-bottom: 2px dashed #eee;
    }

    .upload-picture-body {
      padding: 0px 68px 170px 68px;

      h2.section-title {
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }

      .profile-user-name {
        display: flex;
        flex-direction: row;

        .last-name{
          margin-left: 29px;
        }
      }

      .profile-user-name, .profile-email {
        padding-top: 25px;

        h5 {
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          color: #747474;
          border: 1px solid #70707024;
          font-weight: 600;
          padding: 19px;
          border-radius: 4px;
          width: 350px;
        }
      }
    }
  }


}
