section.upload-picture {
  padding-top: 15%;


  .upload-picture-wrapper {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 8px #00000029;


    label.header {
      font-family: 'Lexend Deca', sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #000;
      padding: 10px 30px;
      background-color: #E5F4FC;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
    }

    .upload-picture-body {
      padding: 15px 45px 40px 45px;

      h2.section-title {
        margin-bottom: 20px;
        font-size: 21px;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: bold;

      }

      .profile-picture {
        display: flex;
        align-items: center;

        .profile-avatar {
          margin-right: 20px;

          img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
          }
        }

        .profile-picture-input {
          label {
            cursor: pointer;
            display: flex;
            align-items: center;

            img {
              margin-right: 15px;
              height: 30px;
            }

            h5 {
              font-family: 'Lexend Deca', sans-serif;
              font-size: 14px;
              color: #646565;
              margin-bottom: 0;
            }

            input {
              display: none;
            }
          }

          .document-type {
            margin-top: 10px;

            h6 {
              font-family: 'Lexend Deca', sans-serif;
              font-size: 12px;
              color: #646565;
              font-weight: 300;
            }
          }

        }

      }

      .profile-user-name, .profile-email {
        border-top: 1px solid #64656524;
        padding-top: 25px;
        margin-top: 30px;

        h5 {
          font-size: 15px;
          font-family: 'Lexend Deca', sans-serif;
          color: #747474;
          border: 1px solid #6465659c;
          font-weight: 400;
          padding: 11px 16px;
          border-radius: 16px;
          width: fit-content;
        }
      }
    }

    .back-next-buttons {
      position: absolute;
      bottom: -40px;
      right: 10px;
      display: flex;
      flex-direction: row;

      a + a {
        margin-left: 20px;
      }

      a.next-button, a.back-button {
        img {
          height: 18px;
        }

        display: flex;
        align-items: center;
        font-family: 'Lexend Deca', sans-serif;
        color: #000;
        font-size: 17px;
        text-decoration: none;
        font-weight: 600;

      }
    }
  }


}
