<section class="upload-picture">

  <div class="upload-picture-wrapper">
    <label class="header">Upload profile picture</label>
    <div class="upload-picture-header">
      <div class="profile-picture">
        <div class="profile-avatar">
          <img *ngIf="avatar" src="{{avatar}}">
        </div>
        <div class="profile-picture-input">
          <label for="profilePictureInput">
            <img src="assets/upload-icon-new.png" alt="upload icon">
            <h5>Upload your profile picture</h5>
            <input #fileInput type="file" id="profilePictureInput" class="file-input" [accept]="acceptedFileExtensions"
              (change)="attachFile($event)"/>
            <div class="document-type">
              <span *ngIf="error" class="error"><i class="fa fa-exclamation-triangle"></i>{{ error?.message }}</span>
              <h6>PNG or JPEG</h6>
            </div>
          </label>

        </div>
      </div>
    </div>
    <div class="upload-picture-body">
      <div class="profile-user-name">
        <div class="first-name">
          <h2 class="section-title">
            First Name
          </h2>
          <h5>{{ firstName }}</h5>
        </div>
        <div class="last-name">
          <h2 class="section-title">
            Last Name
          </h2>
          <h5>{{ lastName }}</h5>
        </div>

      </div>
      <div class="profile-email">
        <h2 class="section-title">
          Email
        </h2>
        <h5>
          {{ email }}
        </h5>
      </div>
    </div>
  </div>
</section>
