<section class="request-access" id="requestAccess">
  <div class="header">
    <h2 class="section-title text-center">
      Request access
    </h2>
    <button class="close-button" id="closeButton">
      <img src="assets/close-icon.svg" alt="close button">
    </button>
  </div>

  <div class="form" id="requestAccessForm" action="#">
    <div class="form-group">
      <h3 class="section-title-secondary">
        Request from
      </h3>
      <app-chip-email-input [emails]="emails" (emailUpdateEvent)="updateEmails($event)"></app-chip-email-input>
    </div>
    <div class="form-group">
      <h3 class="section-title-secondary">
        Duration
      </h3>
      <div class="duration-radio">
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="threeWeek" value="2 Weeks" (change)="onDurationSelectionChanged(0)">
          <label for="threeWeek">2 Weeks</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="oneMonth" value="1 Month"  (change)="onDurationSelectionChanged(1)">
          <label for="oneMonth">1 Month</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="forever" value="forever"  (change)="onDurationSelectionChanged(2)" checked>
          <label for="forever">Forever</label>
        </div>
        <div class="duration-radio-wrapper">
          <input type="radio" name="duration" id="custom" value="custom"  (change)="onDurationSelectionChanged(3)">
          <label for="custom">Custom</label>
        </div>
      </div>
      <input *ngIf="currentDurationIndex == 3" class="form-control" type="date" name="duration" id="customDuration"
            (input)="onCustomDateUpdate($event)">

    </div>
    <div class="form-group">
      <h3 class="section-title-secondary">
        Custom message
      </h3>
      <textarea class="form-control" name="customMessage" id="customMessage" style="resize: none"
                [value]="message"
                (input)="onMessageUpdate($event)"
                placeholder="Your message..."></textarea>
    </div>
    <div class="form-group share-calendar-checkbox">
      <input type="checkbox" name="shareMyCalendar" id="shareMyCalendar"
              [checked]="shareCalendarAccess" (change)="onShareStatusUpdate($event)">
      <label for="shareMyCalendar">Share my calendar with the request</label>
    </div>

    <div class="d-flex justify-content-end">
      <button class="request-button" (click)="submitRequest()">
        Request
      </button>
    </div>
  </div>
</section>
