<section class="contacts" id="contacts">
  <div class="header">
    <h2 class="section-title text-center">
      Contacts
    </h2>
  </div>
  <div class="contacts-wrapper">
    <label>
      <input type="text" placeholder="Search by name, company, or email ..." id="searchContactInput">
    </label>
    <ul class="list-unstyled contacts-list" id="contactsList">
      <li id="contactListItem">
        <div class="contact-info">
          <div class="contact-portrait" id="contactPortrait">
            <img src="assets/brianchesky.jpg" alt="user portrait">
          </div>
          <div class="contact-bio" id="contactBio">
            <h5 class="full-name" id="fullName">
              Brian Chesky
            </h5>
            <h6 class="contact-company" id="contactCompany">
              AirBnb
            </h6>
          </div>
          <div class="contact-border-line"></div>
        </div>
        <div class="more-dots">
          <div class="dropdown" style="float:left;">
            <button class="dropbtn">
              <img src="assets/more-dots.png" alt="dots">
            </button>
            <div class="dropdown-content" style="left:0;">
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                  <a href="" id="contactHistory">History</a>
                  <button class="close-button">
                    <img src="assets/close-icon.svg" alt="close button">
                  </button>
                </li>
                <li><a href="" id="revokeAccess">Revoke Access</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id="contactListItem">
        <div class="contact-info">
          <div class="contact-portrait" id="contactPortrait">
            <img src="assets/alexisohanian.jpeg" alt="user portrait">
          </div>
          <div class="contact-bio" id="contactBio">
            <h5 class="full-name" id="fullName">
              Alexis Ohanian
            </h5>
            <h6 class="contact-company" id="contactCompany">
              Reddit
            </h6>
          </div>
          <div class="contact-border-line"></div>
        </div>
        <div class="more-dots">
          <div class="dropdown" style="float:left;">
            <button class="dropbtn">
              <img src="assets/more-dots.png" alt="dots">
            </button>
            <div class="dropdown-content" style="left:0;">
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                  <a href="" id="contactHistory">History</a>
                  <button class="close-button">
                    <img src="assets/close-icon.svg" alt="close button">
                  </button>
                </li>
                <li><a href="" id="revokeAccess">Revoke Access</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id="contactListItem">
        <div class="contact-info">
          <div class="contact-portrait" id="contactPortrait">
            <img src="assets/patrickcollison.png" alt="user portrait">
          </div>
          <div class="contact-bio" id="contactBio">
            <h5 class="full-name" id="fullName">
              Patrick Collison
            </h5>
            <h6 class="contact-company" id="contactCompany">
              Stripe
            </h6>
          </div>
          <div class="contact-border-line"></div>
        </div>
        <div class="more-dots">
          <div class="dropdown" style="float:left;">
            <button class="dropbtn">
              <img src="assets/more-dots.png" alt="dots">
            </button>
            <div class="dropdown-content" style="left:0;">
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                  <a href="" id="contactHistory">History</a>
                  <button class="close-button">
                    <img src="assets/close-icon.svg" alt="close button">
                  </button>
                </li>
                <li><a href="" id="revokeAccess">Revoke Access</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id="contactListItem">
        <div class="contact-info">
          <div class="contact-portrait" id="contactPortrait">
            <img src="assets/brianchesky.jpg" alt="user portrait">
          </div>
          <div class="contact-bio" id="contactBio">
            <h5 class="full-name" id="fullName">
              Brian Chesky
            </h5>
            <h6 class="contact-company" id="contactCompany">
              AirBnb
            </h6>
          </div>
          <div class="contact-border-line"></div>
        </div>
        <div class="more-dots">
          <div class="dropdown" style="float:left;">
            <button class="dropbtn">
              <img src="assets/more-dots.png" alt="dots">
            </button>
            <div class="dropdown-content" style="left:0;">
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                  <a href="" id="contactHistory">History</a>
                  <button class="close-button">
                    <img src="assets/close-icon.svg" alt="close button">
                  </button>
                </li>
                <li><a href="" id="revokeAccess">Revoke Access</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id="contactListItem">
        <div class="contact-info">
          <div class="contact-portrait" id="contactPortrait">
            <img src="assets/alexisohanian.jpeg" alt="user portrait">
          </div>
          <div class="contact-bio" id="contactBio">
            <h5 class="full-name" id="fullName">
              Alexis Ohanian
            </h5>
            <h6 class="contact-company" id="contactCompany">
              Reddit
            </h6>
          </div>
          <div class="contact-border-line"></div>
        </div>
        <div class="more-dots">
          <div class="dropdown" style="float:left;">
            <button class="dropbtn">
              <img src="assets/more-dots.png" alt="dots">
            </button>
            <div class="dropdown-content" style="left:0;">
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                  <a href="" id="contactHistory">History</a>
                  <button class="close-button">
                    <img src="assets/close-icon.svg" alt="close button">
                  </button>
                </li>
                <li><a href="" id="revokeAccess">Revoke Access</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id="contactListItem">
        <div class="contact-info">
          <div class="contact-portrait" id="contactPortrait">
            <img src="assets/patrickcollison.png" alt="user portrait">
          </div>
          <div class="contact-bio" id="contactBio">
            <h5 class="full-name" id="fullName">
              Patrick Collison
            </h5>
            <h6 class="contact-company" id="contactCompany">
              Stripe
            </h6>
          </div>
          <div class="contact-border-line"></div>
        </div>
        <div class="more-dots">
          <div class="dropdown" style="float:left;">
            <button class="dropbtn">
              <img src="assets/more-dots.png" alt="dots">
            </button>
            <div class="dropdown-content" style="left:0;">
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                  <a href="" id="contactHistory">History</a>
                  <button class="close-button">
                    <img src="assets/close-icon.svg" alt="close button">
                  </button>
                </li>
                <li><a href="" id="revokeAccess">Revoke Access</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

