<link rel="stylesheet" href="contacts.component.scss">
<section class="contacts" id="contacts">
  <div class="header">
    <h3>ENTANGLES</h3>
    <label id="title">Contacts</label>
    <app-close-sidebar-btn></app-close-sidebar-btn>
  </div>
  <div class="contacts-wrapper">
    <label>
      <input type="text" placeholder="Search ..." id="searchContactInput" (input)="onSearchUpdate($event)">
    </label>
    <a class="invite-contacts" id="inviteContacts" routerLink="/calendar/invite" >
      <img src="assets/invite-contacts-icon.png" alt="invite friends">
      <p>
        Invite Contacts
      </p>
    </a>
    <ul class="list-unstyled contacts-list" id="contactsList">
      <li id="contactListItem" *ngFor="let item of filteredData">
        <app-contact-item [contact]="item"></app-contact-item>
      </li>
    </ul>
  </div>
</section>

