<section class="contacts" id="contacts">
  <div class="header">
    <h2 class="section-title text-center">
      Contacts
    </h2>
    <button class="close-button" id="closeButton">
      <img src="assets/close-icon.svg" alt="close button">
    </button>
  </div>
  <div class="contacts-wrapper">
    <label>
      <input type="text" placeholder="Search by name, company, or email ..." id="searchContactInput" (input)="onSearchUpdate($event)">
    </label>
    <ul class="list-unstyled contacts-list" id="contactsList">
      <li id="contactListItem" *ngFor="let item of filteredData">
        <app-contact-item [contact]="item"></app-contact-item>
      </li>
    </ul>
  </div>
</section>

