section.login-register {
  #title {
      display: flex;
      flex-direction: column;

      #line1 {
        font-size: 35px;
        line-height: 38px;
        font-weight: 400;
        color: #b7b7b7;
      }

      #line2 {
        font-size: 35px;
        line-height: 42px;
        font-weight: 400;
        color: #32AEF1;
      }

      #line3 {
        font-size: 20px;
        line-height: 30px;
        color: #959595;
        margin-top: 40px;
        margin-right: 50px;
        font-weight: 300;
      }

    }

    .email-sent {
      &#title {
        #line3 {
          line-height: 37px;

          span.email {
            color: #000000;
          }
        }
      }
    }
}
