.container {
  height: calc(100% - 60px);
  display: flex;
  padding: 60px 170px 0px 0px;

  #left {
    width: 45%;
    display: flex;
    flex-direction: column;

    #message {
      color: #777777;
      max-width: 60%;
      font-size: 19px;
      line-height: 30px;
      margin-left: 70px;
      text-align: center;
    }

    #image-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;

      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }

  #space {
    flex-grow: 1;
  }

  #right{
  }
}
