<div class="container-fluid p-0">
  <app-header></app-header>
  <div class="auth-wrapper">
    <div id="left">
      <span id="message">Handshake is your hub for scheduling meetings professionally and efficiently, eliminating the hassle of back-and-forth emails so you can get back to work.</span>
      <div id="image-container">
        <video playsinline autoplay src="../../../../assets/main_animation.mp4" alt=""></video>
      </div>
    </div>
    <div id="right" class="flex flex-full-last">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
