<div id="container">
  <section class="calendar-section">
    <label class="header">Google</label>
    <div class="calendar-item">
      <img src="assets/ic_calendar_google.svg" alt="">
      <label class="calendar-name">Google Calendar</label>
      <span class="calendar-desc">Gmail, G-suite</span>
      <label class="switch">
        <input type="checkbox" (change)="accessGoogleCalendar()" [checked]="hasGoogleCalendarPermission()">
        <span class="slider round"></span>
      </label>
    </div>
  </section>

  <section class="calendar-section">
    <label class="header">Microsoft</label>
    <div class="calendar-item">
      <img src="assets/ic_calendar_office365.svg" alt="">
      <label class="calendar-name">Office 365 Calendar</label>
      <span class="calendar-desc">Office 365, Outlook.com, live.com, or Hotmail calendar</span>
      <label class="switch">
        <input type="checkbox" >
        <span class="slider round"></span>
      </label>
      <div class="border"></div>
    </div>
    <div class="calendar-item">
      <img src="assets/ic_calendar_exchange.svg" alt="">
      <label class="calendar-name">Exchange Calendar</label>
      <span class="calendar-desc">Exchange Server 2013, 2016, or 2019</span>
      <label class="switch">
        <input type="checkbox" >
        <span class="slider round"></span>
      </label>
      <div class="border"></div>
    </div>
  </section>

  <section class="calendar-section">
    <label class="header">Apple</label>
    <div class="calendar-item">
      <img src="assets/ic_calendar_icloud.svg" alt="">
      <label class="calendar-name">iCloud Calendar</label>
      <span class="calendar-desc">Default calendar for all Apple products. (Coming Soon)</span>
      <label class="switch">
        <input type="checkbox" disabled>
        <span class="slider round"></span>
      </label>
    </div>
  </section>
</div>
