<section class="sharable-link" id="sharableLink">
  <div class="header">
    <h2 class="section-title text-center">
      Sharable link
    </h2>
    <button class="close-button" id="closeButton">
      <img src="assets/close-icon.svg" alt="close button">
    </button>
  </div>
  <form>
    <div class="sharable-link-body">
      <div class="accordion">
        <input type="checkbox" name="collapse" id="handle1">
        <h2 class="handle">
          <label for="handle1">
            Joint availability
          </label>
        </h2>
        <div class="content">
          <div class="users-container">
            <ul class="users-list list-unstyled list-inline">
              <li class="list-inline-item user-info">
                <div class="user-info-wrapper">
                  <div class="user-portrait">
                    <img src="assets/brianchesky.jpg" alt="brian chesky">
                  </div>
                  <div class="user-bio">
                    <h5 class="full-name">Brian Chesky</h5>
                    <h6 class="contact-company">
                      AirBnb
                    </h6>
                  </div>
                  <button class="remove-button">
                    <img src="assets/close-icon.svg" alt="remove user">
                  </button>
                </div>
              </li>
              <li class="user-input">
                <input type="text">
              </li>
            </ul>
          </div>
        </div>
      </div>


      <h3 class="section-title-secondary">
        Selected time slots
      </h3>

      <ul class="list-unstyled time-slots">
        <li class="time-slot" id="timeSlot" *ngFor="let date of selectedDates$ | async | keyvalue">
          <div class="date">
            <input type="text" id="availableDate" name="availableDate"
                   placeholder="{{ date.key }}" readonly>
          </div>
          <ul class="available-times list-unstyled" id="availableTimes" >
            <li class="available-timeframe" id="availableTimeframe" *ngFor="let time of $any(date.value); let i = index" >
              <div class="list-inline-item timeframe">
                <input type="text" id="availableStartTime" name="availableStartTime"
                       placeholder="{{ time.start | parseTime:'hh:mmA' }}" readonly>
                <p> - </p>
                <input type="text" id="availableEndTime" name="availableEndTime"
                       placeholder="{{ time.end | parseTime:'hh:mmA' }}" readonly>
              </div>
              <div class="timezone">
                <span class="timezoneText">{{ timezone }}</span>
              </div>
              <button class="remove-button" id="removeButton" (click)="removeTime(date.key, i)">
                <img src="assets/close-icon.svg" alt="remove button">
              </button>
            </li>

          </ul>

        </li>

      </ul>

      <h3 class="section-title-secondary mt-4 mb-2">
        Location
      </h3>
      <div class="select-wrapper">
        <div class="select">
          <div class="select__trigger">
            <span>Choose...</span>
          </div>
          <div class="custom-options">
          <span class="custom-option selected" data-value="zoom">
            <span class="logo">
              <img src="assets/zoom.png" alt="zoom">
            </span>
            <div class="text">
              <span>
                ZOOM
              </span>
              <p>
                Web conference
              </p>
            </div>
      <div class="connect-message">Please <a href="javascript:void(0)">connect</a><span class=""> Microsoft Teams</span>
        to your account
      </div>
      <div class="generate-link" id="generateLink">
        <h3 class="section-title-secondary mt-4 mb-2">
          Link to the poll
        </h3>
        <div class="url-wrapper">
          <button class="url">
            entangles.io/D538hul9/84wow
          </button>
          <div class="buttons">
            <button>
              <img src="assets/edit-icon.png" alt="copy">
            </button>
            <button>
              <img src="assets/copy-icon.png" alt="copy">
            </button>

          </div>
        </div>
        <p class="copy-send">Copy and send this link to anyone you want</p>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="request-button">
        Create
      </button>
    </div>
  </form>
</section>
