<section class="sharable-link" id="sharableLink">
  <div class="header">
    <h2 class="section-title text-center">
      Sharable link
    </h2>
    <button class="close-button" id="closeButton">
      <img src="assets/close-icon.svg" alt="close button">
    </button>
  </div>
  <form>
    <div class="sharable-link-body">
      <div class="accordion">
        <input type="checkbox" name="collapse" id="handle1" [(ngModel)]="showJointAvailibility">
        <h2 class="handle" (click)="loadContacts()">
          <label for="handle1">
            <app-avatar class="avatar"></app-avatar>
            <span class="no-avatar">Joint availability</span>
          </label>
        </h2>
        <div class="content">
          <div class="users-container">
            <ul class="users-list list-unstyled list-inline">
              <ng-container>
                <li class="list-inline-item user-info" *ngFor="let selectedContact of selectedContacts$ | async">
                  <div class="user-info-wrapper">
                    <div class="user-portrait">
                      <img *ngIf="selectedContact.owner.avatar;" src="{{selectedContact.owner.avatar}}">
                    </div>
                    <div class="user-bio">
                      <h5 class="full-name">{{ selectedContact | getContactName }}</h5>
                      <h6 class="contact-company">
                        {{ selectedContact | getContactCompany }}
                      </h6>
                    </div>
                    <button class="remove-button">
                      <img src="assets/close-icon.svg" alt="remove user" (click)="removeSingleContact(selectedContact)">
                    </button>
                  </div>
                </li>
              </ng-container>
              <li class="user-input">
                <input type="text" #contactInput>
                <ul>
                  <ng-container *ngFor="let contact of filteredContacts$|async">
                    <li (click)="selectContact(contact)">
                      <div class="user-info-wrapper">
                        <div class="user-portrait">
                          <img *ngIf="contact.owner.avatar;" src="{{contact.owner.avatar}}" alt="brian chesky">
                        </div>
                        <div class="user-bio">
                          <h5 class="full-name">{{ contact | getContactName }}</h5>
                          <h6 class="contact-company">
                            {{ contact | getContactCompany }}
                          </h6>
                        </div>
                      </div>

                      <div class="contact-border-line"></div>
                    </li>
                  </ng-container>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <h3 class="section-title-secondary">
        Selected time slots
      </h3>

      <ul class="list-unstyled time-slots">
        <li class="time-slot" id="timeSlot" *ngFor="let date of selectedDates$ | async | keyvalue">
          <div class="date">
            <input type="text" id="availableDate" name="availableDate"
                   placeholder="{{ date.key }}" readonly>
          </div>
          <ul class="available-times list-unstyled" id="availableTimes">
            <li class="available-timeframe" id="availableTimeframe"
                *ngFor="let time of $any(date.value); let i = index">
              <div class="list-inline-item timeframe">
                <input type="text" id="availableStartTime" name="availableStartTime"
                       placeholder="{{ time.start | parseTime:'hh:mmA' }}" readonly>
                <p> - </p>
                <input type="text" id="availableEndTime" name="availableEndTime"
                       placeholder="{{ time.end | parseTime:'hh:mmA' }}" readonly>
              </div>
              <div class="timezone">
                <span class="timezoneText">{{ timezone }}</span>
              </div>
              <button class="remove-button" id="removeButton" (click)="removeTime(date.key, i)">
                <img src="assets/close-icon.svg" alt="remove button">
              </button>
            </li>

          </ul>

        </li>

      </ul>

      <h3 class="section-title-secondary mt-4 mb-2">
        Location
      </h3>
      <div class="select-wrapper">
        <div class="select">
          <div class="select__trigger">
            <span>Choose...</span>
          </div>
          <div class="custom-options">
          <span class="custom-option selected" data-value="zoom">
            <span class="logo">
              <img src="assets/zoom.png" alt="zoom">
            </span>
            <div class="text">
              <span>
                ZOOM
              </span>
              <p>
                Web conference
              </p>
            </div>
      <div class="connect-message">Please <a href="javascript:void(0)">connect</a><span class=""> Microsoft Teams</span>
        to your account
      </div>
      <ng-container *ngIf="choosedLocationObj?.value == MeetViaEnum.InboundCall">
          <h3 class="section-title-secondary mt-4 mb-2">
            Phone number
          </h3>
          <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber">
      </ng-container>

      <ng-container *ngIf="choosedLocationObj?.value == MeetViaEnum.PhysicalAddress">
        <h3 class="section-title-secondary mt-4 mb-2">
          Address
        </h3>
        <input type="text" class="form-control" [(ngModel)]="address" name="address">
      </ng-container>

      <div class="connect-message" *ngIf="connectMessage.title != ''">
        Please <a (click)="connect(connectMessage.type)">connect</a><span class=""> {{ connectMessage.title }}</span>
        to your account
      </div>


      <div class="generate-link" id="generateLink" *ngIf="sharableLink">
        <h3 class="section-title-secondary mt-4 mb-2">
          Link to the poll
        </h3>
        <div class="url-wrapper">
          <button class="url">
            {{ sharableLink }}
          </button>
          <div class="buttons position-relative">
            <span class="copied-tooltip {{ showCopiedText ? 'visible': ''}}">Copied</span>
            <button>
              <img src="assets/edit-icon.png" alt="copy">
            </button>
            <button (click)="copyLink(sharableLink)">
              <img src="assets/copy-icon.png" alt="copy">
            </button>
          </div>
        </div>
        <p class="copy-send">Copy and send this link to anyone you want</p>
      </div>
          <div class="error w-100 {{errorMessage ? 'animate' : ''}}">{{ errorMessage }}</div>
          <div class="d-flex justify-content-end">
            <button class="request-button" (click)="createSharableLink()">
              Create
            </button>
          </div>

  </form>
</section>
