@import "../../../../../styles/variables";

#container {
  background-color: #3F3F3F;
  border-radius: 20px;
  padding: 25px 30px;
}

section#desc {
  color: #7B9666;
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
}
