<div id="container">
  <div *ngIf="!changed; else changePasswordTemplate">
    <div id="title">
      <span id="login">Create a new password.</span>
    </div>
    <form id="form" [formGroup]="form" (ngSubmit)="setNewPassword()" autocomplete="off">
      <div class="form-group">
        <label for="newPassword">Create New password</label>
        <input type="password" id="newPassword" formControlName="newPassword" placeholder="New Password" />
        <app-control-messages [control]="form.controls['newPassword']"></app-control-messages>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" />
        <app-control-messages [control]="form"></app-control-messages>
        <span *ngIf="error" class="error">{{ error.message }}</span>
      </div>
      <div>
        <button id="submit" type="submit" [disabled]="!form.valid">Create Password</button>
      </div>
    </form>
  </div>
  </div>


<ng-template #changePasswordTemplate>
  <div id="title">
    <span id="login">Password successfully updated. </span>
    <span id="reset-password-note" [ngStyle]="{'line-height':'25px'}">You can return to login with your new credentials.</span>
  </div>

  <div id="form">
    <button id="submit" type="button" routerLink="/">Sign in</button>
  </div>
</ng-template>
