#container {
  width: 100%;
  padding: 35px 0px;
  background-image: linear-gradient(125deg, #F2F2F2, #EAF0E7);
  display: flex;
  justify-content: center;


  section {
    width: 225px;

    label {
      font-size: 27px;
      line-height: 30px;
      font-weight: 900;
      color: #000000;
      display: block;
      text-transform: uppercase;
    }

    span {
      display: block;
      font-size: 18px;
      line-height: 30px;
      color: #000000;
      margin-top: 25px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 692px;
    margin-left: 65px;

    button {
      width: 260px;
      height: 50px;
      margin-top: 45px;
      font-size: 22px;
      line-height: 28px;
      color: white;
      font-weight: medium;
      /* UI Properties */
      background: transparent linear-gradient(348deg, #CCD839 0%, #7B9666 100%) 0% 0% no-repeat padding-box;
      border-radius: 33px;
      border: none;
    }
  }
}
