#container {
  width: 100%;
  padding: 35px 0px;
  background-image: linear-gradient(125deg, #F2F2F2, #EAF0E7);
  display: flex;
  justify-content: center;


  section#desc {
    width: 225px;

    label {
      font-size: 27px;
      line-height: 30px;
      font-weight: 900;
      color: #000000;
      display: block;
      text-transform: uppercase;
    }

    span {
      display: block;
      font-size: 18px;
      line-height: 30px;
      color: #000000;
      margin-top: 25px;
    }
  }

  div#availability {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 692px;
    margin-left: 65px;

    section#buttons {
      display: flex;
      flex-direction: row;
      gap: 25px;

      button {
        width: 260px;
      }      
    }
  }
}
