<div id="container">
  <section id="desc">
    <label>Availability</label>
    <span>Let Handshake know when you’re typically availability to accept meetings.</span>
  </section>
  <div id="availability">
    <app-availability></app-availability>
    <h1>Hello World</h1>
    <section id="buttons">
      <button class="btn btn-secondary" (click)="back()">Back</button>
      <button class="btn btn-secondary" (click)="setupLater()">Set up later</button>
      <button class="btn btn-primary" (click)="next()">Done</button>
    </section>
  </div>
</div>
