<section class="group-availability" id="groupAvailability">
  <div class="header">
    <h3>ENTANGLES</h3>
    <label id="title">group availability</label>
  </div>


  <!-- Start of: external user: Clicking and opening the sharable link -->

  <!--  <div class="group-availability-content">-->
  <!--    <div class="users-container">-->
  <!--      <ul class="users-list list-unstyled list-inline">-->
  <!--        <li class="list-inline-item user-info">-->
  <!--          <div class="user-info-wrapper">-->
  <!--            <div class="user-portrait">-->
  <!--              <img src="assets/brianchesky.jpg" alt="brian chesky">-->
  <!--            </div>-->
  <!--            <div class="user-bio">-->
  <!--              <h5 class="full-name">Brian Chesky</h5>-->
  <!--              <h6 class="contact-company">-->
  <!--                AirBnb-->
  <!--              </h6>-->
  <!--            </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--          </div>-->
  <!--        </li>-->
  <!--        <li class="list-inline-item user-info">-->
  <!--          <div class="user-info-wrapper">-->
  <!--            <div class="user-portrait">-->
  <!--              <img src="assets/alexisohanian.jpeg" alt="alexis ohanyan">-->
  <!--            </div>-->
  <!--            <div class="user-bio">-->
  <!--              <h5 class="full-name">Alexis Ohanyan</h5>-->
  <!--              <h6 class="contact-company">-->
  <!--                Reddit-->
  <!--              </h6>-->
  <!--            </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--          </div>-->
  <!--        </li>-->
  <!--        <li class="list-inline-item user-info">-->
  <!--          <div class="user-info-wrapper">-->
  <!--            <div class="user-portrait">-->
  <!--              <img src="assets/patrickcollison.png" alt="patrick collison">-->
  <!--            </div>-->
  <!--            <div class="user-bio">-->
  <!--              <h5 class="full-name">Patrick Collison</h5>-->
  <!--              <h6 class="contact-company">-->
  <!--                Stripe-->
  <!--              </h6>-->
  <!--            </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--          </div>-->
  <!--        </li>-->
  <!--        <li class="list-inline-item user-info">-->
  <!--          <div class="user-info-wrapper">-->
  <!--            <div class="user-portrait">-->
  <!--              <img src="assets/wadefoster.jpeg" alt="Wade Foster">-->
  <!--            </div>-->
  <!--            <div class="user-bio">-->
  <!--              <h5 class="full-name">Wade Foster</h5>-->
  <!--              <h6 class="contact-company">-->
  <!--                Zapier-->
  <!--              </h6>-->
  <!--            </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--          </div>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--    <div class="calendar w-100">-->
  <!--      <h2 style="font-style: italic; font-size: 15px;">-->
  <!--        Here should be Calendar content-->
  <!--      </h2>-->
  <!--      <img class="img-fluid w-80" src="assets/group-availability-calendar-example.png" alt="calendar example">-->
  <!--    </div>-->
  <!--  </div>-->

  <!-- End of: external user: Clicking and opening the sharable link -->


  <!-- Start of: Sharable link- external user: Selecting time slot from sharable link (videoconferencing - Zoom, MS Teams, Google Meet) -->

  <!--  <div class="group-availability-content">-->
  <!--    <form action="">-->
  <!--      <div class="users-container">-->
  <!--        <ul class="users-list list-unstyled list-inline">-->
  <!--          <li class="list-inline-item user-info">-->
  <!--            <div class="user-info-wrapper">-->
  <!--              <div class="user-portrait">-->
  <!--                <img src="assets/brianchesky.jpg" alt="brian chesky">-->
  <!--              </div>-->
  <!--              <div class="user-bio">-->
  <!--                <h5 class="full-name">Brian Chesky</h5>-->
  <!--                <h6 class="contact-company">-->
  <!--                  AirBnb-->
  <!--                </h6>-->
  <!--              </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--            </div>-->
  <!--          </li>-->
  <!--          <li class="list-inline-item user-info">-->
  <!--            <div class="user-info-wrapper">-->
  <!--              <div class="user-portrait">-->
  <!--                <img src="assets/alexisohanian.jpeg" alt="alexis ohanyan">-->
  <!--              </div>-->
  <!--              <div class="user-bio">-->
  <!--                <h5 class="full-name">Alexis Ohanyan</h5>-->
  <!--                <h6 class="contact-company">-->
  <!--                  Reddit-->
  <!--                </h6>-->
  <!--              </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--            </div>-->
  <!--          </li>-->
  <!--          <li class="list-inline-item user-info">-->
  <!--            <div class="user-info-wrapper">-->
  <!--              <div class="user-portrait">-->
  <!--                <img src="assets/patrickcollison.png" alt="patrick collison">-->
  <!--              </div>-->
  <!--              <div class="user-bio">-->
  <!--                <h5 class="full-name">Patrick Collison</h5>-->
  <!--                <h6 class="contact-company">-->
  <!--                  Stripe-->
  <!--                </h6>-->
  <!--              </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--            </div>-->
  <!--          </li>-->
  <!--          <li class="list-inline-item user-info">-->
  <!--            <div class="user-info-wrapper">-->
  <!--              <div class="user-portrait">-->
  <!--                <img src="assets/wadefoster.jpeg" alt="Wade Foster">-->
  <!--              </div>-->
  <!--              <div class="user-bio">-->
  <!--                <h5 class="full-name">Wade Foster</h5>-->
  <!--                <h6 class="contact-company">-->
  <!--                  Zapier-->
  <!--                </h6>-->
  <!--              </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--            </div>-->
  <!--          </li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <h3 class="section-title-secondary">-->
  <!--        Date/Time-->
  <!--      </h3>-->
  <!--      <div class="date-time-container">-->
  <!--        <ul class="list-unstyled list-inline">-->
  <!--          <li class="list-inline-item date">-->
  <!--            <input type="text" id="meetingDate" name="meetingDate" placeholder="Tue, Oct 07th" readonly>-->
  <!--          </li>-->
  <!--          <li class="list-inline-item timeframe">-->
  <!--            <input type="text" id="meetingStartTime" name="meetingStartTime"-->
  <!--                   placeholder="9:00AM" readonly>-->
  <!--            <p> - </p>-->
  <!--            <input type="text" id="meetingEndTime" name="meetingEndTime"-->
  <!--                   placeholder="10:00AM" readonly>-->
  <!--          </li>-->
  <!--          <li class="list-inline-item timezone">-->
  <!--            <span id="timezoneText">Toronto, EST</span>-->
  <!--          </li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <h3 class="section-title-secondary">-->
  <!--        Location-->
  <!--      </h3>-->
  <!--      <div class="location">-->
  <!--        <div class="logo" id="locationLogo">-->
  <!--          <img src="assets/zoom.png" alt="zoom">-->
  <!--        </div>-->
  <!--        <div class="text" id="locationText">-->
  <!--          <h2>-->
  <!--            ZOOM-->
  <!--          </h2>-->
  <!--          <p>-->
  <!--            Web conference-->
  <!--          </p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="text">-->
  <!--        Please <a href="">connect</a> Zoom to your account-->
  <!--      </div>-->
  <!--      <div class="form-group mb-0">-->
  <!--        <label for="yourName">Your name</label>-->
  <!--        <input type="text" class="form-control" id="yourName" placeholder="Please type your name">-->
  <!--      </div>-->
  <!--      <div class="form-group mb-0">-->
  <!--        <label for="yourEmail">Your email</label>-->
  <!--        <input type="email" class="form-control" id="yourEmail" placeholder="Please provide your email and guest's emails">-->
  <!--      </div>-->
  <!--      <div class="form-group mb-0">-->
  <!--        <label for="optionalNotes">Optional notes</label>-->
  <!--        <textarea type="text" class="form-control" id="optionalNotes" placeholder="Add notes and comments"></textarea>-->
  <!--      </div>-->
  <!--      <button type="submit" id="scheduleButton">Schedule</button>-->
  <!--    </form>-->
  <!--  </div>-->

  <!-- End of: Sharable link- external user: Selecting time slot from sharable link (videoconferencing - Zoom, MS Teams, Google Meet) -->

  <!-- Start of: Sharable link- external user: Selecting time slot from sharable link (inbound phone call) -->

  <!--    <div class="group-availability-content">-->
  <!--      <form action="">-->
  <!--        <div class="users-container">-->
  <!--          <ul class="users-list list-unstyled list-inline">-->
  <!--            <li class="list-inline-item user-info">-->
  <!--              <div class="user-info-wrapper">-->
  <!--                <div class="user-portrait">-->
  <!--                  <img src="assets/brianchesky.jpg" alt="brian chesky">-->
  <!--                </div>-->
  <!--                <div class="user-bio">-->
  <!--                  <h5 class="full-name">Brian Chesky</h5>-->
  <!--                  <h6 class="contact-company">-->
  <!--                    AirBnb-->
  <!--                  </h6>-->
  <!--                </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--              </div>-->
  <!--            </li>-->
  <!--            <li class="list-inline-item user-info">-->
  <!--              <div class="user-info-wrapper">-->
  <!--                <div class="user-portrait">-->
  <!--                  <img src="assets/alexisohanian.jpeg" alt="alexis ohanyan">-->
  <!--                </div>-->
  <!--                <div class="user-bio">-->
  <!--                  <h5 class="full-name">Alexis Ohanyan</h5>-->
  <!--                  <h6 class="contact-company">-->
  <!--                    Reddit-->
  <!--                  </h6>-->
  <!--                </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--              </div>-->
  <!--            </li>-->
  <!--            <li class="list-inline-item user-info">-->
  <!--              <div class="user-info-wrapper">-->
  <!--                <div class="user-portrait">-->
  <!--                  <img src="assets/patrickcollison.png" alt="patrick collison">-->
  <!--                </div>-->
  <!--                <div class="user-bio">-->
  <!--                  <h5 class="full-name">Patrick Collison</h5>-->
  <!--                  <h6 class="contact-company">-->
  <!--                    Stripe-->
  <!--                  </h6>-->
  <!--                </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--              </div>-->
  <!--            </li>-->
  <!--            <li class="list-inline-item user-info">-->
  <!--              <div class="user-info-wrapper">-->
  <!--                <div class="user-portrait">-->
  <!--                  <img src="assets/wadefoster.jpeg" alt="Wade Foster">-->
  <!--                </div>-->
  <!--                <div class="user-bio">-->
  <!--                  <h5 class="full-name">Wade Foster</h5>-->
  <!--                  <h6 class="contact-company">-->
  <!--                    Zapier-->
  <!--                  </h6>-->
  <!--                </div>-->
  <!--  <button class="remove-button">-->
  <!--    <img src="assets/close-icon.svg" alt="remove user">-->
  <!--  </button>-->
  <!--              </div>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--        <h3 class="section-title-secondary">-->
  <!--          Date/Time-->
  <!--        </h3>-->
  <!--        <div class="date-time-container">-->
  <!--          <ul class="list-unstyled list-inline">-->
  <!--            <li class="list-inline-item date">-->
  <!--              <input type="text" id="meetingDate" name="meetingDate" placeholder="Tue, Oct 07th" readonly>-->
  <!--            </li>-->
  <!--            <li class="list-inline-item timeframe">-->
  <!--              <input type="text" id="meetingStartTime" name="meetingStartTime"-->
  <!--                     placeholder="9:00AM" readonly>-->
  <!--              <p> - </p>-->
  <!--              <input type="text" id="meetingEndTime" name="meetingEndTime"-->
  <!--                     placeholder="10:00AM" readonly>-->
  <!--            </li>-->
  <!--            <li class="list-inline-item timezone">-->
  <!--              <span id="timezoneText">Toronto, EST</span>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--        <h3 class="section-title-secondary">-->
  <!--          Location-->
  <!--        </h3>-->
  <!--        <div class="location">-->
  <!--          <div class="logo" id="locationLogo">-->
  <!--            <img src="assets/outgoing-call.png" alt="zoom">-->
  <!--          </div>-->
  <!--          <div class="text" id="locationText">-->
  <!--            <h2>-->
  <!--              You will make a phone call-->
  <!--            </h2>-->
  <!--            <p>-->
  <!--              Phone number will be provided-->
  <!--            </p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="form-group mb-0">-->
  <!--          <label for="yourName">Your name</label>-->
  <!--          <input type="text" class="form-control" id="yourName" placeholder="Please type your name">-->
  <!--        </div>-->
  <!--        <div class="form-group mb-0">-->
  <!--          <label for="yourEmail">Your email</label>-->
  <!--          <input type="email" class="form-control" id="yourEmail" placeholder="Please provide your email and guest's emails">-->
  <!--        </div>-->
  <!--        <div class="form-group mb-0">-->
  <!--          <label for="optionalNotes">Optional notes</label>-->
  <!--          <textarea type="text" class="form-control" id="optionalNotes" placeholder="Add notes and comments"></textarea>-->
  <!--        </div>-->
  <!--        <button type="submit" id="scheduleButton">Schedule</button>-->
  <!--      </form>-->
  <!--    </div>-->

  <!-- End of: Sharable link- external user: Selecting time slot from sharable link (inbound phone call) -->

  <!-- Start of: Sharable link- external user: Selecting time slot from sharable link (outbound phone call) -->

  <div class="group-availability-content">
    <form action="">
      <h3 class="section-title-secondary">
        Attendees
      </h3>
      <div class="users-container">
        <ul class="users-list list-unstyled list-inline">
          <li class="list-inline-item user-info">
            <div class="user-info-wrapper">
              <div class="user-portrait">
                <img src="assets/brianchesky.jpg" alt="brian chesky">
              </div>
              <div class="user-bio">
                <h5 class="full-name">Brian Chesky</h5>
                <h6 class="contact-company">
                  AirBnb
                </h6>
              </div>
              <button class="remove-button">
                <img src="assets/close-icon.svg" alt="remove user">
              </button>
            </div>
          </li>
          <li class="list-inline-item user-info">
            <div class="user-info-wrapper">
              <div class="user-portrait">
                <img src="assets/alexisohanian.jpeg" alt="alexis ohanyan">
              </div>
              <div class="user-bio">
                <h5 class="full-name">Alexis Ohanyan</h5>
                <h6 class="contact-company">
                  Reddit
                </h6>
              </div>
              <button class="remove-button">
                <img src="assets/close-icon.svg" alt="remove user">
              </button>
            </div>
          </li>
          <li class="list-inline-item user-info">
            <div class="user-info-wrapper">
              <div class="user-portrait">
                <img src="assets/patrickcollison.png" alt="patrick collison">
              </div>
              <div class="user-bio">
                <h5 class="full-name">Patrick Collison</h5>
                <h6 class="contact-company">
                  Stripe
                </h6>
              </div>
              <button class="remove-button">
                <img src="assets/close-icon.svg" alt="remove user">
              </button>
            </div>
          </li>
          <li class="list-inline-item user-info">
            <div class="user-info-wrapper">
              <div class="user-portrait">
                <img src="assets/wadefoster.jpeg" alt="Wade Foster">
              </div>
              <div class="user-bio">
                <h5 class="full-name">Wade Foster</h5>
                <h6 class="contact-company">
                  Zapier
                </h6>
              </div>
              <button class="remove-button">
                <img src="assets/close-icon.svg" alt="remove user">
              </button>
            </div>
          </li>
        </ul>
      </div>
      <h3 class="section-title-secondary">
        Date/Time
      </h3>
      <div class="date-time-container">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item date">
            <input type="text" id="meetingDate" name="meetingDate" placeholder="Tue, Oct 07th" readonly>
          </li>
          <li class="list-inline-item timeframe">
            <input type="text" id="meetingStartTime" name="meetingStartTime"
                   placeholder="9:00AM" readonly>
            <p> - </p>
            <input type="text" id="meetingEndTime" name="meetingEndTime"
                   placeholder="10:00AM" readonly>
          </li>
          <li class="list-inline-item timezone">
            <span id="timezoneText">Toronto, EST</span>
          </li>
        </ul>
      </div>
      <h3 class="section-title-secondary" style="font-size: 14px;font-weight: 600;">
        Location
      </h3>
      <div class="location">
        <div class="logo" id="locationLogo">
          <img src="assets/incoming-call.png" alt="zoom">
        </div>
        <div class="text" id="locationText">
          <h2>
            You will receive a phone call
          </h2>
          <p>
            You will be called to number you provide
          </p>
        </div>
      </div>

      <div class="form-group mb-0">
        <label for="yourPhoneNumber">Your phone number</label>
        <input type="text" class="form-control" id="yourPhoneNumber"
               placeholder="Please provide the phone number for the call">
      </div>
      <div class="form-group mb-0">
        <label for="yourName">Your name</label>
        <input type="text" class="form-control" id="yourName" placeholder="Please type your name">
      </div>
      <div class="form-group mb-0">
        <label for="yourEmail">Your email</label>
        <input type="email" class="form-control" id="yourEmail"
               placeholder="Please provide your email and guest's emails">
      </div>
      <div class="form-group mb-0">
        <label for="optionalNotes">Optional notes</label>
        <textarea type="text" class="form-control" id="optionalNotes" placeholder="Add notes and comments"></textarea>
      </div>
      <button type="submit" id="scheduleButton">Schedule</button>
    </form>
  </div>

  <!-- End of: Sharable link- external user: Selecting time slot from sharable link (outbound phone call) -->
</section>
