<div id="container">
  <section class="configuration">
    <div>
      <label>Anyone On the internet</label>
      <span>Provide description/example text here. Lorem ipsum dolor sit amet porttitor mauris blandit duis
        molestie.</span>
    </div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </section>
  
  <section class="configuration">
    <div>
      <label>Anyone from a given domain</label>
      <span>Provide description/example text here. Lorem ipsum dolor sit amet porttitor mauris blandit duis
        molestie. Neque lectus scelerisque imperdiet orci donec duis porta in sodales consectetur. </span>
    </div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </section>

  <section class="configuration">
    <div>
      <label>Allow access by request only</label>
      <span>Provide description/example text here. Lorem ipsum dolor sit amet porttitor mauris blandit duis
        molestie. Neque lectus scelerisque imperdiet orci donec duis porta in sodales consectetur. </span>
    </div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </section>
</div>
