section.choose-calendar {
  padding-top: 15%;

  .setting-content-header {
    position: absolute;
    top: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    box-shadow: 0 6px 7px -2px #00000029;

    .text {
      h1 {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 30px;
        margin-bottom: 0;
      }
    }

    .account-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 32px;

      .timezone {
        h4 {
          font-size: 13px;
          font-weight: bold;
          font-family: 'Lexend Deca', sans-serif;
          color: #1d1d1d;
          line-height: 20px;
          margin-bottom: 0;
        }
      }

      a.notifications {
        margin: 0 23px;
        position: relative;
        cursor: pointer;

        img {
          height: 26px;
        }

        &:hover {
          .counter {
            transition: 0.4s ease;
            top: -1px;
            right: -6px;
            height: 18px;
            width: 18px;
            background-color: #b21313;

            h6 {
              font-size: 9px;
            }
          }
        }

        .counter {
          height: 17px;
          width: 17px;
          background-color: #FF3B3B;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -3px;
          right: -8px;

          h6 {
            color: #fff;
            font-size: 8px;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: bold;
            line-height: 10px;
            margin-bottom: 0;

          }
        }
      }

      a.user-profile {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        width: 28px;
        border: 1px solid #7c7c7ca6;
        border-radius: 50%;

        &:hover {
          transition: 0.4s ease;
          box-shadow: 0px 0px 8px #00000029;
        }

        img {
          height: 14px;
        }
      }
    }
  }

  #connectCalendar {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 4px #00000029;
    .calendar-section {
      width: 100%;
      display: flex;
      flex-direction: column;

      label.header {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #000;
        padding: 10px 16px;
        background-color: #E5F4FC;

      }

      label.header-first {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      .personal-calendar-connect {
        img {
          width: 25px !important;
          border-radius: 50%;
        }

        .calendar-name {
          color: #868B92 !important;
          font-size: 12px !important;
          display: flex;
          align-items: center;
        }

        .calendar-desc {
          margin-left: -4px !important;
        }
      }

      .calendar-item {
        padding: 12px 25px;
        display: grid;
        grid-template-columns: auto 2fr 3fr auto;

        img {
          width: 20px;
        }

        .calendar-desc {
          font-size: 12px;
          font-family: 'Lexend Deca', sans-serif;
          font-weight: 400;
          color: #747474;
          display: flex;
          align-items: center;

          ul {
            li {
              & + li {
                margin-top: 5px;
              }

              p {
                margin-bottom: 0;
              }
            }
          }
        }

        .calendar-name {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 16px;
          font-weight: 400;
          color: black;
          margin-left: 10px;

          ul {
            margin-bottom: 0;

            li:nth-child(2) {
              margin-top: -5px;
            }

            li {
              margin-bottom: 0;

              span {
                font-size: 13px;
                color: #DD6A6C;
              }
            }
          }
        }

        a.notify-me {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 25px;
          border: 1px solid #EFEFEF;
          padding: 0 10px;
          color: #000;
          text-decoration: none;
          height: 30px;
          cursor: pointer;

          &:hover {
            transition: 0.4s ease;

            box-shadow: 0px 0px 5px #00000029;
          }

          img {
            width: 15px;
          }

          p {

            color: #747474;
            margin-bottom: 0;
            margin-left: 5px;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 13px;
          }
        }

        .switch {
          display: inline-block;
          margin-left: 10px;

          &:hover {
            span.slider {
              transition: 0.4s ease;
              box-shadow: 0px 0px 7px #00000029;
            }

          }
        }
      }
    }

    .back-next-buttons {
      position: absolute;
      bottom: -40px;
      right: 10px;
      display: flex;
      flex-direction: row;

      a + a {
        margin-left: 20px;
      }

      a.next-button, a.back-button {
        img {
          height: 18px;
        }

        display: flex;
        align-items: center;
        font-family: 'Lexend Deca', sans-serif;
        color: #000;
        font-size: 17px;
        text-decoration: none;
        font-weight: 600;

      }
    }

  }

}






