@import "../../../../../../styles/variables";

#container {

  .title {
    display: flex;
    flex-direction: column;

    #welcome-back {
      font-size: 45px;
      line-height: 47px;
      font-weight: 800;
      color: #b7b7b7;
    }

    .login {
      font-size: 35px;
      line-height: 42px;
      font-weight: 400;
      color: #32AEF1;
    }

    #reset-password-note {
      color: #777777;
      font-family: 'Lexend Deca', sans-serif;
      font-size: 30px;
      font-weight: 500;
      margin-top: 20px
    }
  }

  .form {
    width: 500px;
    margin-top: 70px;
    font-size: 15px;
    line-height: 19px;
    color: $text-primary-color;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .password-input-group{
        position: relative;
        i{
          position: absolute;
          right: 18px;
          font-size: 18px;
        }
      }
      label {
        margin-bottom: 7px;
      }

      input {
        height: 40px;
        font-size: 18px;
        line-height: 23px;
        border-radius: 25px;
        border: 1px solid #b7b7b7;
        padding-left: 50px;
        &::placeholder {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 15px;
          font-weight: 300;
          color: #b7b7b7;
          letter-spacing: 1px;
        }

        &:focus-visible {
          outline-color: #32AEF1;
        }
      }

      .error {
        margin-top: 4px;
        color: $text-error-color;
        font-weight: 300;
        letter-spacing: 0.15px;
      }
    }

    .submit {
      color: #ffffff;
      width: 100%;
      height: 50px;
      font-size: 22px;
      line-height: 28px;
      background-color: #32AEF1;
      border-radius: 33px;
      border: none;
      margin-top: 10px;
      cursor: pointer;
      &:hover{
        transition: 0.4s ease;
        background-color: #1d97dc;
      }
    }
  }
}
