<div id="container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <label for="number">Card number</label>
      <input type="text" id="number" pattern="\d*" formControlName="number" maxlength="16" placeholder="0000 0000 0000 0000" />
      <app-control-messages [control]="f['number']"></app-control-messages>
    </div>
    <div class="form-group">
      <label for="name">Cardholder's Name</label>
      <input type="text" id="name" formControlName="name" placeholder="" />
      <app-control-messages [control]="f['name']"></app-control-messages>
    </div>

    <div id="date-code">
      <div class="form-group">
        <label for="expiration_date">Expiration Date</label>
        <input type="text" dataformatas="MM/YYYY" id="expiration_date" formControlName="expiration_date" placeholder="MM / YYYY" />
        <app-control-messages [control]="f['expiration_date']"></app-control-messages>
      </div>

      <div class="form-group">
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" formControlName="cvv" pattern="\d*" maxlength="3" placeholder="&#x2022;&#x2022;&#x2022;" />
        <app-control-messages [control]="f['cvv']"></app-control-messages>
      </div>
    </div>

    <input type="submit" value="Make Payment" [disabled]="!form.valid" />
  </form>
</div>
