@import "../../../../styles/variables";

section.change-password {
  display: flex;
  padding: 150px 0;
  justify-content: center;




    #form {
      width: 75%;

      .form-wrapper {
        border-radius: 15px;
        box-shadow: 0px 0px 12px #0000004D;
        .form-header {
          background-color: #E1F4FD;
          padding: 20px 35px;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;

          h2.section-title {
            font-size: 22px;
            font-family: 'Lexend Deca', sans-serif;
            margin-bottom: 0;
            font-weight: bold;
          }
        }

        .form-body {
          padding: 0 45px 40px 45px;


          .form-group {
            padding: 30px 0 25px 0;
            margin-bottom: 0;

            & + .form-group {
              border-top: 1px solid #eeeeee;
            }

            label {
              font-family: 'Lexend Deca', sans-serif;
              font-size: 21px;
              font-weight: bold;
              margin-bottom: 30px;
            }

            input {
              border-radius: 20px;
              border: 1px solid #b4b2b2;

              &::placeholder {
                color: #939292;
                font-family: 'Lexend Deca', sans-serif;
                letter-spacing: 1px;
                font-weight: 300;
                font-size: 15px;
              }
            }

            .password-requirements {
              margin-top: 15px;

              h6 {
                font-family: 'Lexend Deca', sans-serif;
                font-size: 15px;
                font-weight: 400;
              }

              ul {
                margin-bottom: 0;

                li {
                  h6 {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }


        }
      }


      #tos {
        display: inline-block;
        text-align: center;
        padding: 0 10%;
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;

        a {
          text-decoration: none;
        }
      }

      #submit {
        color: #000;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 22px;
        font-weight: bold;
        padding: 15px 20px;
        background: #E1F4FD;
        border-radius: 15px;
        border: none;
        margin-top: 30px;
        cursor: pointer;
        &:hover{
          transition: 0.4s ease;
          background-color: #aed5e8;
        }
      }
    }
  }


  #social {
    margin-top: 40px;

    #header {
      display: flex;

      hr {
        flex: 1;
      }

      span {
        margin: 0px 32px;
      }
    }
  }

