<div id="container">
  <div id="title">
    <span id="line2">Change password.</span>
  </div>
  <form id="form" [formGroup]="form" (ngSubmit)="changePassword()" autocomplete="off">
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <div class="input-group">
        <img src="assets/ic_password.svg" alt="">
        <input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Current password"/>
      </div>
      <app-control-messages [control]="f['currentPassword']"></app-control-messages>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <div class="input-group">
        <img src="assets/ic_password.svg" alt="">
        <input type="password" id="newPassword" formControlName="newPassword" placeholder="New password"/>
      </div>
      <app-control-messages [control]="f['newPassword']"></app-control-messages>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Conform New password</label>
      <div class="input-group">
        <img src="assets/ic_password.svg" alt="">
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Conform Password"/>
      </div>
      <app-control-messages [control]="form"></app-control-messages>
      <span *ngIf="error" class="error"><i class="fa fa-exclamation-triangle"></i>{{ error?.message }}</span>
    </div>

    <div>
      <button id="submit" type="submit" [disabled]="!form.valid">Change Password</button>
    </div>
  </form>
</div>

