<section class="change-password">
  <form id="form" [formGroup]="form" (ngSubmit)="changePassword()" autocomplete="off">
      <label class="header header-first">Change password</label>
      <div class="form-body">
        <div class="form-group" *ngIf="changeCurrentPassword">
          <label for="currentPassword">Current Password</label>
          <div class="input-group password-input-group">
            <img src="assets/ic_password.svg" alt="">
            <input #focusField [type]="showCurrentPassword ? 'text' : 'password'" id="currentPassword" formControlName="currentPassword"
                   placeholder="Current password"/>
            <i class="fa" [ngClass]="{'fa-eye-slash': !showCurrentPassword,'fa-eye': showCurrentPassword}" (click)="toggleCurrentPasswordType()"></i>
          </div>
          <app-control-messages [control]="f['currentPassword']" [showRequiredErrors]="showRequiredErrors"></app-control-messages>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <div class="input-group password-input-group">
            <img src="assets/ic_password.svg" alt="">
            <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" formControlName="newPassword" placeholder="New password"/>
            <i class="fa" [ngClass]="{'fa-eye-slash': !showNewPassword,'fa-eye': showNewPassword}" (click)="toggleNewPasswordType()"></i>
          </div>
          <app-control-messages [control]="f['newPassword']" [showRequiredErrors]="showRequiredErrors"></app-control-messages>
          <div class="password-requirements">
            <h6>Password must contain</h6>
            <ul>
              <li>
                <h6>
                  Uppercase letters: A-Z
                </h6>
              </li>
              <li>
                <h6>
                  Lowercase letters: a-z
                </h6>
              </li>
              <li>
                <h6>
                  Numbers: 0-9
                </h6>
              </li>
              <li>
                <h6>
                  Symbols: ~`!@#$%^&*()_-+=[]|\:;"'<,>.?/
                </h6>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm New password</label>
          <div class="input-group password-input-group">
            <img src="assets/ic_password.svg" alt="">
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
                   placeholder="Confirm Password"/>
            <i class="fa" [ngClass]="{'fa-eye-slash': !showConfirmPassword,'fa-eye': showConfirmPassword}" (click)="toggleConfirmPasswordType()"></i>
          </div>
          <app-control-messages [control]="f['confirmPassword']" [showRequiredErrors]="showRequiredErrors"></app-control-messages>
          <span *ngIf="error" class="error"><i class="fa fa-exclamation-triangle"></i>{{ error?.message }}</span>
        </div>
        <div class="text-center">
          <button id="submit" type="submit">Change Password</button>
        </div>
      </div>
  </form>
</section>
