#container {
  background: #DCE3EF;
  height: 100vh;
  padding: 9px 14px;

  #left-menu {
    height: 100%;
  }

  .calendar {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    position: relative;

    .calendar-header {
      a.invite-contacts {
        background-color: #FDFAB1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 20px;
        color: #000;
        border-radius: 30px;
        box-shadow: 0px 0px 4px #0000004D;

        &:hover {
          transition: 0.4s ease;
          background-color: #f1ec92;
          box-shadow: 0px 0px 9px #0000004D;
        }

        img {
          height: 32px;
          margin-right: 5px;
        }

        p {
          text-align: left;
          font-size: 12px;
          font-family: 'Lexend Deca', sans-serif;
          margin-bottom: 0px;
          line-height: 1.1;
          margin-top: 1px;
          letter-spacing: 0.5px;
        }
      }

      .account-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 32px;

        .timezone {
          h4 {
            font-size: 16px;
            font-weight: bold;
            font-family: 'Lexend Deca', sans-serif;
            color: #1d1d1d;
            line-height: 20px;
            margin-bottom: 0;
          }
        }

        //Start Profile dropdown styles
        .profile-dropdown {
          .dropdown-toggle:after {
            display: none;
          }

          .dropdown-menu {
            border-radius: 5px;
            --bs-dropdown-min-width: unset;
            --bs-dropdown-padding-y: unset;
            padding: 0;
            box-shadow: 0px 0px 4px #0000004D;
            border: 0;

            .dropdown-item {
              width: 90px;
              text-align: left;
              font-family: 'Lexend Deca', sans-serif;
              font-size: 14px;
              padding: 5px 10px;
              text-align: left;

              &:first-child {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
              }

              &:nth-child(2) {
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
              }

              &:hover {
                background-color: #E0F2FB;
              }

              & + .dropdown-item {
                border-top: 1px solid #e3e3e3;
              }
            }
          }

          a.user-profile {
            cursor: pointer;

            img {
              height: 32px;
            }
          }
        }

        //End of Profile dropdown styles
      }
    }

    .calendar-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 90px;

      ul {
        display: flex;
        align-items: center;
        z-index: 2;
        position: relative;

        li {
          cursor: pointer;
          z-index: 2;

          & + li {
            margin-left: 20px;
          }

          a {
            min-height: 60px;
            padding: 15px;
            border-radius: 40px;
            background-color: #fff;
            cursor: pointer;
            display: flex;

            align-items: center;
            text-decoration: none;
            box-shadow: 0px 0px 4px #0000004D;

            &:active {
              background-color: #E4F5FC;
            }

            &:hover {
              transition: 0.4s ease;
              box-shadow: 0px 0px 9px #0000004D;
            }

            span.text {
              text-align: left;
              font-size: 12px;
              font-family: 'Lexend Deca', sans-serif;
              margin-bottom: 0px;
              line-height: 1.1;
              margin-top: 1px;
              letter-spacing: 0.5px;
              color: #000000;
              margin-right: 15px;
            }

            span.icon {
              height: 100%;
              width: auto;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: auto;
                height: 30px;
              }
            }
          }

          a.handshake {
            width: 60px;
            padding: unset;
            justify-content: center;

            img {

              width: 44px !important;

              height: auto !important;

            }
          }
        }
      }
    }
  }
}
