<div class="container-fluid" id="container">
  <div class="row h-100">
    <div class="h-100 text-center" [style.display]="displayStyle" [ngClass]="!calendarFullSize ? 'col-12 col-sm-3 p-0' : ''" id="calendarLeftSide">
      <div class="content" id="left-menu">
        <section style="height: 100%">
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
    <div class="col-12 h-100 text-center" [ngClass]="!calendarFullSize ? 'col-sm-9 p-0' : ''" id="calendarRightSide">
      <div class="calendar" id="calendar">
        <div class="calendar-header d-flex justify-content-end">
<!--          <a class="invite-contacts" id="inviteContacts" routerLink="/calendar/invite" (click)="openLeftMenu()">-->
<!--            <img src="assets/invite-contacts-icon.svg" alt="invite friends">-->
<!--            <p>-->
<!--              Invite <br> Contacts-->
<!--            </p>-->
<!--          </a>-->

      <div class="account-info">
        <div class="timezone ">
          <h4 id="userTimezone" class="text-hover-scale">
            {{ timezone }}
          </h4>
        </div>

        <app-my-calendar></app-my-calendar>

        <div class="calendar-footer d-flex justify-content-center align-items-center">
          <ul class="list-unstyled mb-0">
            <li class="list-inline-item" (click)="openLeftMenu()">
              <a routerLink="/calendar/meeting" class="handshake hover-scale">
                  <img src="assets/handshake-icon.png" alt="schedule a meeting">
              </a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/calendar/access-request">
                <span class="text">
                  Request <br>
                  Access
                </span>
                <span class="icon">
                  <img src="assets/request-calendar.png" alt="request calendar">
              </a>
            </li>
            <li class="list-inline-item" routerLink="/calendar/share" [routerLinkActive]="['active']">
              <a>
                <span class="text">
                  Share <br>
                  Calendar
                </span>
                <span class="icon">
                  <img src="assets/share-calendar.svg" alt="share calendar">
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/calendar/contacts">
                <span class="text">
                  View my <br>
                  contacts
                </span>
                <span class="icon">
                  <img src="assets/contacts.png" alt="view contacts">
              </a>
            </li>
            <li class="list-inline-item">
              <a>
                <span class="text">
                  Share <br>
                  Availability
                </span>
                <span class="icon">
                  <img src="assets/share-availability.png" alt="handshake">
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <app-my-calendar></app-my-calendar>

    <div class="calendar-footer d-flex justify-content-center align-items-center">
      <ul class="list-unstyled mb-0">
        <li class="list-inline-item">
          <a routerLink="/calendar/meeting" class="handshake hover-scale">
              <img src="assets/handshake-icon.png" alt="schedule a meeting">
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/calendar/access-request" [routerLinkActive]="['active']" class="hover-scale">
              <img src="assets/request-calendar.png" alt="request calendar">
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/calendar/share" [routerLinkActive]="['active']" class="hover-scale">
              <img src="assets/share-calendar.png" alt="share calendar">
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/calendar/contacts" [routerLinkActive]="['active']" class="hover-scale">
              <img src="assets/contacts.png" alt="view contacts">
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/calendar/sharable-link" [routerLinkActive]="['active']" class="hover-scale">
              <img src="assets/share-availability.png" alt="view shareable links">
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
