#container {
  background: #DCE3EF;
  height: 100vh;
  padding: 9px 14px;

  #left-menu {
    height: 100%;
  }

  .calendar {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    .calendar-header {
      a.invite-contacts {
        background-color: #FDFAB1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 20px;
        color: #000;
        border-radius: 30px;
        box-shadow: 0px 0px 4px #0000004D;
        &:hover {
          transition: 0.4s ease;
          background-color: #f1ec92;
          box-shadow: 0px 0px 9px #0000004D;
        }

        img {
          height: 32px;
          margin-right: 5px;
        }

        p {
          text-align: left;
          font-size: 12px;
          font-family: 'Lexend Deca', sans-serif;
          margin-bottom: 0px;
          line-height: 1.1;
          margin-top: 1px;
          letter-spacing: 0.5px;
        }
      }

      .account-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 32px;

        .timezone {
          h4 {
            font-size: 16px;
            font-weight: bold;
            font-family: 'Lexend Deca', sans-serif;
            color: #1d1d1d;
            line-height: 20px;
            margin-bottom: 0;
          }
        }

        a.notifications {
          margin: 0 23px;
          position: relative;
          cursor: pointer;
          img {
            height: 32px;
          }
          &:hover{
            .counter{
              transition: 0.4s ease;
              top: 1px;
              right: 1px;
              height: 18px;
              width: 18px;
              background-color: #b21313;
              h6{
                font-size: 9px;
              }
            }
          }
          .counter{
            height: 17px;
            width: 17px;
            background-color: #FF3B3B;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            h6{
              color: #fff;
              font-size: 8px;
              font-family: 'Lexend Deca', sans-serif;
              font-weight: bold;
              line-height: 10px;
              margin-bottom: 0;

            }
          }
        }
        a.user-profile{
          cursor: pointer;
          img{
            height: 32px;
          }
        }
      }
    }
    .calendar-footer{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 90px;
      ul{
        display: flex;
        align-items: center;
        z-index: 2;
        position: relative;
        li{
          cursor: pointer;
          z-index: 2;
          &+li{
            margin-left: 20px;
          }
          a{
            min-height: 60px;
            padding: 15px;
            border-radius: 40px;
            background-color: #fff;
            cursor: pointer;
            display: flex;

            align-items: center;
            text-decoration: none;
            box-shadow: 0px 0px 4px #0000004D;
            &:active{
              background-color: #E4F5FC;
            }
            &:hover{
              transition: 0.4s ease;
              box-shadow: 0px 0px 9px #0000004D;
            }
            span.text{
              text-align: left;
              font-size: 12px;
              font-family: 'Lexend Deca', sans-serif;
              margin-bottom: 0px;
              line-height: 1.1;
              margin-top: 1px;
              letter-spacing: 0.5px;
              color: #000000;
              margin-right: 15px;
            }
            span.icon{
              height: 100%;
              width: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                width: auto;
                height: 30px;
              }
            }
          }
          a.handshake{
            width: 60px;
            padding: unset;
            justify-content: center;
            img{

              width: 44px !important;

              height: auto !important;

            }
          }
        }
      }
    }
  }
}
