<div class="container-fluid" id="container">
  <div class="row h-100">
    <div class="col-12 col-sm-3 h-100 text-center">
      <div class="content" id="left-menu">
        <section style="height: 100%">
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
    <div class="col-12 col-sm-9 h-100 ps-0 text-center">
      <div class="calendar" id="calendar">
        <div class="calendar-header d-flex justify-content-between">
          <a class="invite-contacts" id="inviteContacts">
            <img src="assets/invite-contacts-icon.svg" alt="invite friends">
            <p>
              Invite <br> Contacts
            </p>
          </a>
          <div class="account-info">
            <div class="timezone">
              <h4 id="userTimezone">
                GMT -4/ET
              </h4>
            </div>
            <a class="notifications" id="notifications">
              <img src="assets/notification-icon.svg" alt="notifications">
              <div class="counter">
                <h6 id="notificationsCounter">
                  123
                </h6>
              </div>
            </a>
            <a class="user-profile" id="userProfile">
              <img src="assets/profile-img.png" alt="profile image">
            </a>
          </div>
        </div>

        <app-my-calendar></app-my-calendar>

        <div class="calendar-footer d-flex justify-content-center align-items-center">
          <ul class="list-unstyled mb-0">
            <li class="list-inline-item">
              <a [routerLink]="['/calendar/meeting']"  class="handshake">
                <span class="icon w-100">
                  <img src="assets/handshake-icon.svg" alt="handshake">
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['/calendar/access-request']">
                <span class="text">
                  Request <br>
                  Access
                </span>
                <span class="icon">
                  <img src="assets/request-calendar.png" alt="request calendar">
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="">
                <span class="text">
                  Share <br>
                  Calendar
                </span>
                <span class="icon">
                  <img src="assets/share-calendar.svg" alt="share calendar">
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['/calendar/contacts']">
                <span class="text">
                  View my <br>
                  contacts
                </span>
                <span class="icon">
                  <img src="assets/contacts.png" alt="view contacts">
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="">
                <span class="text">
                  Share <br>
                  Availability
                </span>
                <span class="icon">
                  <img src="assets/share-availability.png" alt="handshake">
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
