.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;

  a.user-profile {
    text-decoration: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid #7070703B;
    cursor: pointer;
  }

  span {
    font-size: 13px;
    font-family: 'Lexend Deca', sans-serif;
    color: #000;
    margin-bottom: 0;
    text-decoration: none;
    outline: none;
    margin-top: 1px;
  }

  img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
}

.dropdown-toggle::after {
  display: none;
}
