<div class="avatar dropdown show">
  <ng-container *ngIf="showDropdown; else withNoDropdown">
    <a class="user-profile dropdown-toggle" id="userProfile" href="#" data-bs-toggle="dropdown">
      <img *ngIf="avatar;else avatarAcronym" src="{{avatar}}" alt="avatar">
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="/settings/calendar">Settings</a>
      <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Log out</a>
    </div>
  </ng-container>

  <ng-template #withNoDropdown>
    <a class="user-profile" id="userProfile">
      <img *ngIf="avatar;else avatarAcronym" src="{{avatar}}" alt="avatar">
    </a>
  </ng-template>

</div>

<ng-template #avatarAcronym>
  <span>{{fullName|acronymName}}</span>
</ng-template>
