 <section class="login-register">
   <div class="wrapper">
     <div>
       <div class="title">
         <div id="line1">Welcome back</div>
         <div id="line2">Please Sign In</div>
       </div>
       <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <img src="assets/envelope.png" alt="email">
            <input #focusField type="email" id="email" formControlName="email" placeholder="Email" />
          </div>
          <app-control-messages [control]="f['email']" [showRequiredErrors]="showRequiredErrors"></app-control-messages>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group password-input-group">
            <img src="assets/lock.svg" alt="password">
            <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
              placeholder="Password" />
            <i class="fa" [ngClass]="{'fa-eye-slash': !showPassword,'fa-eye': showPassword}" (click)="togglePasswordType()"></i>
          </div>
          <app-control-messages [control]="f['password']" [showRequiredErrors]="showRequiredErrors"></app-control-messages>
          <span *ngIf="error" class="error"><i class="fa fa-exclamation-triangle"></i>{{ error.message }}</span>
        </div>
        <div id="actions">
          <label class="checkbox">
            <input id="remember-me" type="checkbox" formControlName="remember" title="Remember me" />
            Remember Me
          </label>
          <a id="forgot-password" [routerLink]="['/reset-password']">
            I forgot my password
          </a>
        </div>
         <div class="text-center">
           <button class="submit" type="submit">Login</button>
         </div>
       </form>
       <div id="social">
         <div id="header">
           <hr/>
           <span>Or continue with</span>
           <hr/>
         </div>
         <div class="social-buttons">
          <button id="google" (click)="googleLogin()"><img src="assets/google-social.png"></button>
          <button id="outlook" (click)="microsoftLogin()"><img src="assets/outlook-social.png"></button>
         </div>
       </div>
     </div>
   </div>
 </section>
