<div id="container">
  <section id="desc">
    <label>Configure</label>
    <span>Lorem ipsum dolor sit amet fusce etiam tellus luctus aliquam justo platea ut. Mollis egestas feugiat suspendisse vestibulum purus augue facilisi integer curabitur lobortis.</span>
  </section>
  <div id="content">
    <app-configuration></app-configuration>
    <section id="buttons">
      <button class="btn btn-secondary">Back</button>
      <button class="btn btn-primary">Next</button>
    </section>
  </div>
</div>
