#container {
    .event-detail {
        text-align: start;
        position: fixed;
        z-index: 5;
        min-width: 300px;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        border-radius: 10px;
        background-color: #F6F6F6;
        flex-direction: column;
        box-shadow: 0px 4px 7px #0000003B;

        &.hidden {
            display: none;
        }

        &.top {}

        &.bottom {}

        &.left {
            left: calc(100% + 22px);
            top: 0px;
        }

        &.right {
            right: calc(100% + 22px);
            top: 0px;
        }

        .close {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 4px;
            top: 4px;
            padding: 8px;
            border-radius: 100%;
            background: #F1F1F1 0% 0% no-repeat padding-box;

            &:hover {
                transform: scale(1.01);
                box-shadow: 1px 2px 4px #0000003B;
            }

            img {
                width: 8px;
                height: 8px;
            }
        }

        .content {
            align-items: flex-start;
            width: max-content;
            max-width: 400px;
            padding: 20px;
            display: inline-flex;
            flex-direction: column;

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }


            label,
            div label {
                font-size: 14px;
                line-height: 16px;
                margin-top: 16px;
                font-weight: 600;
                color: black;

                &.title {
                    margin-top: 0px;
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            span,
            div span {
                margin-top: 4px;
                font-size: 12px;
                line-height: 14px;
                color: #707070;

                &.time {
                    font-size: 11px;
                }

                &.description {
                    color: black;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-top: 6px;
                }

                &.calendar-info {
                    margin-top: 8px;

                    img {
                        padding: 3px;
                        background-color: #EDEDED;
                        border-radius: 12px;
                        height: 24px;
                        margin: 0 3px;
                    }
                }
            }

            .chip-container {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-top: 8px;
            }
        }

        .footer {
            display: flex;
            flex-direction: row-reverse;
            gap: 4px;
            padding: 4px 20px 20px 10px;
            font-size: 14px;
            line-height: 16px;
            align-items: center;

            .button {
                padding: 9px 20px;
                background-color: #47B8F6;
                border: 0px;
                border-radius: 33px;
                color: white;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    transform: scale(1.01);
                    box-shadow: 2px 4px 5px #0000003B;
                }
            }

            .action {
                color: #47B8F6;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.01);
                    text-shadow: 2px 4px 5px #0000003B;
                }
            }
        }
    }
}