<div id="container">
  <full-calendar id="calendar" #calendar [options]="calendarOptions" [deepChangeDetection]="true">
    <ng-template #eventContent let-arg>
      <div class="my-event">
        <div>
          <span>{{arg.event.title ?? ''}}</span>
          <br />
          <span style="color: #047BDAFF; font-size: 8pt; text-wrap: avoid"> {{arg.timeText}}</span>
        </div>
      </div>
    </ng-template>
  </full-calendar>

  <div #eventDetailView class="event-detail hidden" id="event-detail">
    <div class="close" (click)="closeDetail()"><img src="assets/ic_close.svg"></div>
    <section class="content">
      <label class="title">{{ currentEventSelection?.title ?? "" }}</label>
      <span class="time">{{ currentEventSelection?.extendedProps?.datetime ?? "" }}</span>
      <span class="description">{{ currentEventSelection?.extendedProps?.description ?? "" }}</span>
      <div *ngIf="currentEventSelection?.extendedProps?.link">
        <label>Location</label>
        <span>{{ currentEventSelection?.extendedProps?.link ?? "N/A" }}</span>
      </div>
      <div *ngIf="(currentEventSelection?.extendedProps?.attendees?.length ?? 0) !== 0">
        <label>Attendees</label>
        <div class="chip-container">
          <app-chip-user-item *ngFor="let attendee of (currentEventSelection?.extendedProps?.attendees ?? [])"
            [mini]="true" [borderClass]="attendee.status" [user]="attendee"></app-chip-user-item>
        </div>
      </div>
      <div *ngIf="(currentEventSelection?.extendedProps?.optional_attendees?.length ?? 0) !== 0">
        <label>Optional</label>
        <div class="chip-container">
          <app-chip-user-item *ngFor="let attendee of (currentEventSelection?.extendedProps?.optional_attendees ?? [])"
            [mini]="true" [borderClass]="attendee.status" [user]="attendee"></app-chip-user-item>
        </div>
      </div>

      <span class="calendar-info">
        Event saved in
        <img src="/assets/{{currentEventSelection?.extendedProps?.calendarIcon ?? ''}}">
        <span class="calendr-name">{{ currentEventSelection?.extendedProps?.calendar ?? "" }}</span>
      </span>
    </section>
    <section class="footer">
      <span class="button" (click)="navigateToDetail(currentEventSelection?.id)">Edit</span>
      <span class="action" (click)="cancelMeeting(currentEventSelection?.id)">Cancel this meeting</span>
    </section>
  </div>
</div>
