button.fc-prev-button {
  background-color: #E5F4FC;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    transition: 0.4s ease;
    background-color: #95c1de !important;
  }
  span{
    font-size: 10px;
    color: #656565;
    line-height: inherit;
  }
}

button.fc-next-button {
  background-color: #E5F4FC;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    transition: 0.4s ease;
    background-color: #95c1de !important;
  }
  span{
    font-size: 10px;
    color: #656565;
    line-height: inherit;
  }
}

a.fc-col-header-cell-cushion {
  text-decoration: none;
}

.fc-view-harness {
  height: calc(100vh - 170px);
}

.fc-view-harness-active {
  height: calc(100vh - 170px);
}

full-calendar {
  height: calc(100vh - 100px);
  overflow: scroll;
}

.fc-toolbar-chunk div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h2#fc-dom-1 {
  width: unset;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin: 0 10px 2px 10px;
}

.event-big {
  height: fit-content !important;
  text-align: center;
  border-left: 10px solid #7fb8ff !important;
  border-radius: 10px !important;
}

.event-standard {
  height: fit-content !important;
  text-align: center;
  border-left: 10px solid #7fb8ff !important;
  border-radius: 10px !important;
}
