@import "../../../../styles/variables";

#container {

  #title {
    display: flex;
    flex-direction: column;

    #welcome-back {
      font-size: 45px;
      line-height: 47px;
      font-weight: 800;
      color: #b7b7b7;
    }

    #login {
      font-size: 45px;
      line-height: 54px;
      font-weight: 800;
      color: $accent-color;
    }
  }

  #form {
    width: 500px;
    margin-top: 70px;
    font-size: 15px;
    line-height: 19px;
    color: $text-primary-color;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input {
        height: 50px;
        font-size: 18px;
        line-height: 23px;
        border: 1px solid $accent-color;
        border-radius: 25px;
        padding: 0px 20px;
      }

      .error {
        margin-top: 4px;
        color: $text-error-color;
        font-weight: 300;
        letter-spacing: 0.15px;
      }
    }

    #actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 24px;

      .checkbox {
        display: flex;
        align-items: center;

        input {
          margin-right: 10px;
        }
      }

      #forgot-password {
        color: $accent-color;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }

    #submit {
      color: #ffffff;
      width: 100%;
      height: 50px;
      font-size: 22px;
      line-height: 28px;
      background: transparent linear-gradient(337deg, #CCD839 0%, #7B9666 100%) 0% 0% no-repeat padding-box;
      border-radius: 33px;
      border: none;
      margin-top: 50px;
      cursor: pointer
    }
  }

  #social {
    margin-top: 45px;

    #header {
      display: flex;

      hr {
        flex: 1;
      }

      span {
        margin: 0px 37px;
      }
    }

    #social-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 18px;

      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background: #EDEDED;
        margin: 0px 12px;
        cursor: pointer;
      }
    }
  }
}
