@import "../../../../styles/variables";

#container {
  display: flex;
  flex-direction: column;

  #title {
    display: flex;
    flex-direction: column;

    #welcome-back {
      font-size: 35px;
      line-height: 38px;
      font-weight: 800;
      color: #b7b7b7;
    }

    #login {
      font-size: 35px;
      line-height: 42px;
      font-weight: 800;
      color: $accent-color;
    }
  }

  #form {
    width: 100%;
    margin-top: 50px;
    font-size: 15px;
    line-height: 19px;
    color: $text-primary-color;

    #actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 24px;

      .checkbox {
        display: flex;
        align-items: center;

        input {
          margin-right: 10px;
        }
      }

      #forgot-password {
        color: $accent-color;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }

    #submit {
      color: #ffffff;
      width: 100%;
      height: 40px;
      font-size: 18px;
      line-height: 22px;
      background: transparent linear-gradient(337deg, #CCD839 0%, #7B9666 100%) 0% 0% no-repeat padding-box;
      border-radius: 20px;
      border: none;
      margin-top: 50px;
      cursor: pointer
    }
  }

  #social {
    margin-top: 40px;

    #header {
      display: flex;

      hr {
        flex: 1;
      }

      span {
        margin: 0px 32px;
      }
    }
  }
}
