<div id="container">
  <div id="title">
    <span id="welcome-back">Welcome back.</span>
    <span id="login">Log in.</span>
  </div>
  <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
        <img src="assets/ic_email.svg" alt="">
        <input type="email" id="email" formControlName="email" placeholder="Email" />
      </div>
      <app-control-messages [control]="f['email']"></app-control-messages>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <img src="assets/ic_password.svg" alt="">
        <input type="password" id="password" formControlName="password" placeholder="Password" />
      </div>
      <app-control-messages [control]="f['password']"></app-control-messages>
      <span *ngIf="error" class="error"><i class="fa fa-exclamation-triangle"></i>{{ error?.message }}</span>
    </div>
    <div id="actions">
      <label class="checkbox">
        <input id="remember-me" type="checkbox" formControlName="remember" title="Remember me" />
        Remember Me
      </label>
      <a id="forgot-password" [routerLink]="['/reset-password']">
        I forgot my password
      </a>
    </div>
    <div>
      <button id="submit" type="submit" [disabled]="!form.valid">Log in</button>
    </div>
  </form>
  <div id="social">
    <div id="header">
      <hr /><span>Or continue with</span> <hr />
    </div>
    <div id="social-buttons">
      <button id="google" (click)="googleLogin()"><img src="../../../../assets/google-social.png"></button>
      <button id="apple"><img src="../../../../assets/apple-social.png"></button>
      <button id="outlook" (click)="microsoftLogin()"><img src="../../../../assets/outlook-social.png"></button>
    </div>
  </div>
</div>
