
section.availability {
  padding-top: 15%;


  #availabilityWrapper {

    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 8px #00000029;

    label.header {
      font-family: 'Lexend Deca', sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #000;
      padding: 10px 30px;
      background-color: #E5F4FC;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
    }

    #clockType, #hours, #days {
      padding: 20px 40px;

      .section-header {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 21px;
        font-weight: bold;
        color: #000;
        margin-bottom: 15px;
      }
    }

    #clockType, #hours {
      border-bottom: 1px solid rgba(229, 229, 229, 0.78);
    }

    #clockType {
      .radio-group {
        button + button {
          margin-left: 30px;
        }


      }
    }


    #hours {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;

      .picker {
        button {
          display: none;
        }
      }


      div#content {
        display: flex;
        gap: 40px;

        label.header-small {
          font-size: 13px;
          font-family: 'Lexend Deca', sans-serif;
          margin-bottom: 0;
          font-weight: bold;
        }


        #range {
          display: flex;
          gap: 10px;
          align-items: center;

          .hours-middle-line {
            width: 15px;
            height: 2px;
            background-color: #4f4d4d;
            margin: 0 20px;
            margin-top: 30px;
          }

          div.time {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }

    #days {
      display: flex;
      flex-direction: column;
      padding-top: 30px;

      #buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        button + button {
          margin-left: 10px;
        }
      }
    }

    .back-next-buttons {
      position: absolute;
      bottom: -40px;
      right: 10px;
      display: flex;
      flex-direction: row;

      a + a {
        margin-left: 20px;
      }

      a.next-button, a.back-button {
        img {
          height: 18px;
        }

        display: flex;
        align-items: center;
        font-family: 'Lexend Deca', sans-serif;
        color: #000;
        font-size: 17px;
        text-decoration: none;
        font-weight: 600;

      }
    }
  }

  button {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    padding: 8px 14px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid rgba(229, 229, 229, 0.78);

    span {
      font-weight: 700;
    }

    &.checked {
      background-color: #E5F4FC;
      border: 1px solid #E5F4FC;
    }

  }

  #message {
    margin-top: 15px;
    text-align: center;
    padding-bottom: 20px;

    span {
      color: #717171;
      font-size: 15px;
      font-weight: 300;
      font-family: 'Lexend Deca', sans-serif;

    }
  }
}






