<section class="invite-friends" id="inviteFriends">

  <ng-container *ngIf="!formSubmitted">
    <div class="header">
      <h2 class="section-title text-center">
        Invite and connect
      </h2>
      <button class="close-button" id="closeButton">
        <img src="assets/close-icon.svg" alt="close button">
      </button>
    </div>
    <div class="body">
      <form [formGroup]="suggestForm" (keydown.enter)="$event.preventDefault()">
        <div class="form-wrapper">
          <div class="form-header">
            <div class="avatar">
              <img src="assets/user-icon.png" alt="avatar">
            </div>
            <h5>
              <input readonly class="form-control" id="emails" name="emails" type="email" value="{{suggestContactEmail}}" formControlName="emails">
              <app-control-messages [control]="f['emails']" [showRequiredErrors]="showRequiredErrors"></app-control-messages>
            </h5>
          </div>
          <div class="form-body">
            <div class="checkbox-wrapper">
              <input [checked]="shareCalendarAccess" (change)="onShareStatusUpdate($event)" type="checkbox" id="shareMyCalendar" formControlName="shareMyCalendar" name="shareMyCalendar" />
              <label for="shareMyCalendar">Share your calendar availability with invitation</label>
            </div>
            <div class="checkbox-wrapper">
              <input [checked]="requestCalendarAccess" (change)="onRequestStatusUpdate($event)" type="checkbox" id="requestCalendarView" formControlName="requestCalendarView" name="requestCalendarView" />
              <label for="requestCalendarView">Request to see the invitee's calendar availability</label>
            </div>
          </div>
        </div>
        <span *ngIf="error" class="error"><i class="fa fa-exclamation-triangle"></i>{{ error?.message }}</span>

        <div class="d-flex justify-content-end">
          <button class="invite-button" (click)="submit()">
            Invite
          </button>
        </div>
      </form>

      <button class="next-contact" id="nextContact">
        <img src="assets/arrow-right.png" alt="right">
      </button>
    </div>

  </ng-container>

  <div *ngIf="formSubmitted"  class="invitation-success">
    <div class="wrapper">
      <h6>
        Success! Invitation is sent.
      </h6>
      <h6>
        We will notify you once invitation is accepted..
      </h6>
    </div>
    <div class="d-flex justify-content-end">
      <button class="invite-button" (click)="initSuggestContact()">
        Invite more contacts
      </button>
    </div>
  </div>


</section>
