<footer>
  <h2 class="footer-section-title">
    Subscribe for updates
  </h2>
  <form class="subscribe">
    <input type="text" placeholder="Enter your email address.." required>
    <button type="submit">Subscribe</button>
  </form>
  <div class="footer-wrap">
    <div class="terms">
      <a routerLink="/terms-conditions">
        <p>Terms and Conditions</p>
      </a>
      <span>|</span>
      <a routerLink="/privacy-policy">
        <p>Privacy policy</p>
      </a>
    </div>
    <div class="copyright">
      <p>© Copyrights Entangles 2023</p>
    </div>
    <ul class="list-unstyled list-inline social">
      <li class="list-inline-item">
        <a href="javascript:void(0)">
          <img src="assets/twitter-icon.png" alt="twitter">
        </a>
      </li>

      <li class="list-inline-item">
        <a href="javascript:void(0)">
          <img src="assets/facebook-icon.png" alt="twitter">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="javascript:void(0)">
          <img src="assets/linkedin-icon.png" alt="twitter">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="javascript:void(0)">
          <img src="assets/instagram-icon.png" alt="twitter">
        </a>
      </li>
    </ul>
  </div>
</footer>
<!--
<footer>
    <h2 class="footer-section-title">
      Subscribe for updates
    </h2>
    <form class="subscribe">
      <input type="text" placeholder="Enter your email address.." required>
      <button type="submit">Subscribe</button>
    </form>
    <div class="footer-wrap">
      <div class="terms">
        <a href=""><p>Terms and Conditions</p></a> <span>|</span> <a href=""><p>Privacy policy</p></a>
      </div>
      <div class="copyright">
        <p>© Copyrights Entangles 2023</p>
      </div>
      <ul class="list-unstyled list-inline social">
        <li class="list-inline-item">
          <a href="">
            <img src="assets/twitter-icon.png" alt="twitter">
          </a>
        </li>

        <li class="list-inline-item">
          <a href="">
            <img src="assets/facebook-icon.png" alt="twitter">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="">
            <img src="assets/linkedin-icon.png" alt="twitter">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="">
            <img src="assets/instagram-icon.png" alt="twitter">
          </a>
        </li>
      </ul>
    </div>
  </footer> -->
