<footer>
  <h2 class="footer-section-title">
    Subscribe for updates
  </h2>
  <form class="subscribe">
    <input type="text" placeholder="Enter your email address.." required>
    <button type="submit">Subscribe</button>
  </form>
  <div class="footer-wrap">
    <div class="terms">
      <a routerLink="/terms-conditions">
        <p>Terms and Conditions</p>
      </a>
      <span>|</span>
      <a routerLink="/privacy-policy">
        <p>Privacy policy</p>
      </a>
    </div>
    <div class="copyright">
      <p>© Copyrights Entangles 2023</p>
    </div>
    <ul class="list-unstyled list-inline social">
      <li class="list-inline-item">
        <a target="_blank" href="{{ env.twitter_url }}">
          <img src="assets/ic_twitter_logo.svg" alt="twitter">
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="{{ env.facebook_url }}">
          <img src="assets/ic_facebook_logo.svg" alt="twitter">
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="{{ env.linkedin_url }}">
          <img src="assets/ic_linkedin_logo.svg" alt="twitter">
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="{{ env.slack_url }}">
          <img src="assets/ic_slack_logo.svg" alt="twitter">
        </a>
      </li>
    </ul>
  </div>
</footer>
