<div class="container">
  <div class="chip-container">
    <app-chip-user-item *ngFor="let user of users; let i = index" [user]="user" (onRemove)="remove(i)">
    </app-chip-user-item>
    <div class="list-inline-item user-email-input" id="userEmailInput">
      <input #emailInput class="form-control" type="text" name="requestFrom" id="requestFrom" autocomplete="off"
        autocapitalize="off" autocorrect="off" required spellcheck="false" placeholder="+ Add email"
        (keyup)="updateError()" (keyup.enter)="add()" (focusout)="add()"
        [(ngModel)]="email" (ngModelChange)="onChange()"
        list="contact-list">
      <datalist id="contact-list">
        <option *ngFor="let contact of contacts" [value]="contact.email">{{ contact.name }}</option>
      </datalist>
    </div>
  </div>
</div>

<span class="error" *ngIf="error">
    <i class="fa fa-exclamation-triangle"></i>{{errorMessage}}
</span>
