.container {
  background-color: transparent;
  padding: 0px;

  .chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  input {
    border: 0;
    outline: none !important;
    box-shadow: none;
    background: transparent;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #473B3B;
    
    &::placeholder {
      color: #bbbbbb;
    }

    &:focus, &:focus-visible, &:focus-within {
      border: 0;
    }
  }
}

span.error {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;

  i {
    margin-right: 10px;
  }
}
