button.fc-prev-button {
  background-color: #E5F4FC;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transition: 0.4s ease;
    background-color: #95c1de !important;
  }

  span {
    font-size: 10px;
    color: #656565;
    line-height: inherit;
  }
}

button.fc-next-button {
  background-color: #E5F4FC;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transition: 0.4s ease;
    background-color: #95c1de !important;
  }

  span {
    font-size: 10px;
    color: #656565;
    line-height: inherit;
  }
}

a.fc-col-header-cell-cushion {
  text-decoration: none;
}

.fc-view-harness {
  height: calc(100vh - 170px);
}

.fc-view-harness-active {
  height: calc(100vh - 170px);
}

full-calendar {
  height: calc(100vh - 100px);
  overflow: scroll;
}

.fc-toolbar-chunk div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h2#fc-dom-1 {
  width: unset;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin: 0 10px 1px 10px;
}

.event {
  text-align: center;
  border-left: 10px solid #7fb8ff !important;
  border-radius: 9px !important;
}

.available-event {
  text-align: center;
  border-left: 10px solid #B0EEB2 !important;
  border-radius: 9px !important;
  background-color: #D0EDD1 !important;
  opacity: 0.4;
}

.suggest-event {
  @extend .available-event;
  opacity: 1;
}

//bid table layout top padding
.fc-timegrid-slots {
  padding-top: 20px;
}

.fc-scrollgrid-sync-inner .fc-col-header-cell-cushion {
  font-size: 13px;
  color: #8E8E8E;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.fc-timegrid-event .fc-event-main {
  text-align: left;
  padding: 8px !important;
}

.fc-scrollgrid-shrink-cushion {
  color: #8E8E8E !important;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.date-styled {
  color: #8E8E8E;
  font-size: 22px;
  margin-right: 2px;
  font-weight: 700;
}

.fc-scrollgrid-shrink, .fc-timegrid-slot-label {
  border-right: 0;
}

.fc-timegrid-slot-lane {
  border-left: 0;

}

.fc-timegrid-slots table {
  border: #D9D9D9;
}

//left timeframe position
.fc-timegrid-slot-label-frame {
  position: relative;
  top: -26px;
  right: 4px
}

//table border right color
tr.fc-scrollgrid-section {
  border: 0;

  th {
    border: 0;
  }

  td {
    border: 0;
    border-right: 1px solid #d9d9d9;
  }
}


td.fc-timegrid-slot-lane {
  border: 0;
}

.fc-timegrid-slots table tbody tr:nth-child(even) {
  td.fc-timegrid-slot-lane {
    border-bottom: 1px solid #d9d9d9 !important;
  }

}


table.fc-scrollgrid {
  border-color: #D9D9D9;
}

thead {
  box-shadow: 0px 2px 3px #3E4F6F33;
}

tbody tr:nth-child(odd) {
  border: 0;

}

.table-bordered > :not(caption) > * {
  border-width: 0;
}


td.fc-timegrid-col {
  border-right: 1px solid #D9D9D9;
}

.fc-timegrid-slots table tbody tr {
  height: 50px;
}

.fc-theme-bootstrap a:not([href]) {
  color: #8E8E8E !important;
}

th.fc-day-today .fc-col-header-cell-cushion {
  color: #000 !important;

  .date-styled {
    color: #000;
  }
}

.fc-day-today, .fc-day-disabled, .fc-non-business {
  background: none !important;
}

.fc-day-grid-event {
  pointer-events: none !important;
}

.fc-timegrid-col-events {
  z-index: 0 !important;
}

.fc-highlight {
  background: #b8c7e0 !important;
  opacity: 0.5;
}

.fc-col-header, .fc-timegrid-body { width: 100% !important; }
.fc-timegrid-body { table { width: 100% !important; } }
