@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
//@import "~bootstrap/scss/bootstrap.scss";

/* You can add global styles to this file, and also import other style files */
html, body {
  height: calc(100% - 8px);
  font-family: 'Lexend Deca', sans-serif;
}

.flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-full {
    > * {
      //flex: 1;
    }
  }

  &.flex-full-last {
    > *:last-child {
      flex: 1;
    }
  }

  @for $i from 1 through 20 {
    &.flex-full-#{$i} {
      > *:nth-child(#{$i}) {
        flex: 1;
      }
    }
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  font: inherit;
  color: $accent-color;
  width: 32px;
  height: 32px;
  border: 2px solid #7B9666;
  border-radius: 10px;
  transform: translateY(-1px);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 15px;
  height: 15px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  background-color: $accent-color;
}

input[type="checkbox"]:disabled {
  color: $disabled-color;
  cursor: not-allowed;
}

.error {
  margin-top: 4px;
  color: $text-error-color;
  font-weight: 300;
  letter-spacing: 0.15px;
}
