<div class="dropdown show notification-dropdown">
  <a class="notifications dropdown-toggle" id="notifications" href="#" data-bs-toggle="dropdown">
    <img src="assets/notification-icon.svg" alt="notifications">
    <div class="counter">
      <h6 id="notificationsCounter">
        123
      </h6>
    </div>
  </a>
  <!--Notification dropdown content would be here-->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div class="notification-content">
      <div class="timestamp">
        10 mins ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/alexisohanian.jpeg" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Daniela Villanueva -</span> Requested access to your calendar for 60 days</p>
            <div class="buttons">
              <button class="transparent-button" id="denyButton">
                Deny
              </button>
              <button class="blue-button" id="approveButton">
                Approve
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="notification-content">
      <div class="timestamp">
        1 day ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/brianchesky.jpg" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Julian Manandhar -</span> denied your request</p>
          </div>
        </div>
      </div>
    </div>

    <div class="notification-content">
      <div class="timestamp">
        2 days ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/paulbuchheit.jpeg" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Arthur Gas -</span> shared her calendar with you</p>
            <div class="buttons">
              <button class="blue-button" id="shareCalendarButton">
                Share my calendar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification-content">
      <div class="timestamp">
        1 week ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/patrickcollison.png" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Eleanor Stein -</span> approved your request</p>
          </div>
        </div>
      </div>
    </div>
    <div class="notification-content">
      <div class="timestamp">
        10 mins ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/alexisohanian.jpeg" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Daniela Villanueva -</span> Requested access to your calendar for 60 days</p>
            <div class="buttons">
              <button class="transparent-button" id="denyButton">
                Deny
              </button>
              <button class="blue-button" id="approveButton">
                Approve
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="notification-content">
      <div class="timestamp">
        1 day ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/brianchesky.jpg" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Julian Manandhar -</span> denied your request</p>
          </div>
        </div>
      </div>
    </div>

    <div class="notification-content">
      <div class="timestamp">
        2 days ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/paulbuchheit.jpeg" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Arthur Gas -</span> shared her calendar with you</p>
            <div class="buttons">
              <button class="blue-button" id="shareCalendarButton">
                Share my calendar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification-content">
      <div class="timestamp">
        1 week ago
      </div>
      <div class="notification-body">
        <div class="notification-body-wrapper">
          <div class="avatar">
            <img src="assets/patrickcollison.png" alt="avatar">
          </div>

          <div class="notification-info">
            <p><span class="name">Eleanor Stein -</span> approved your request</p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!--End of Notification dropdown content-->
</div>
