<div class="dropdown show notification-dropdown">
  <a class="notifications dropdown-toggle" id="notifications" href="#" data-bs-toggle="dropdown">
    <img src="assets/notification-icon.svg" alt="notifications">
    <div class="counter">
      <h6 id="notificationsCounter">
        123
      </h6>
    </div>
  </a>
  <!--Notification dropdown content would be here-->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div class="notification-content">
      Notifications would be here...
    </div>
  </div>
  <!--End of Notification dropdown content-->
</div>
