<div class="dropdown show notification-dropdown">
  <a class="notifications dropdown-toggle" id="notifications" href="#" data-bs-toggle="dropdown">
    <img src="assets/notification-icon.svg" alt="notifications">
    <div *ngIf="data.total != 0" class="counter">
      <h6 id="notificationsCounter">
        {{ data.total }}
      </h6>
    </div>
  </a>
  <!--Notification dropdown content would be here-->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div *ngIf="data.total == 0" class="no-notification">You are all caught up!</div>
    <div *ngFor="let item of data.notifications | keyvalue" class="notification-content">
      <div class="timestamp">
        {{ item.key }} ago
      </div>
      <div class="notification-body-container">
        <div *ngFor="let notification of item.value" class="notification-body">
          <div class="notification-body-wrapper">
            <div class="avatar">
              <img src="assets/alexisohanian.jpeg" alt="avatar">
            </div>

            <div class="notification-info">
              <p><span class="name">{{ getSenderName(notification) }} -</span> {{ getNotificationMessage(notification.type) }}</p>
              <div *ngIf="hasActions(notification.type)" class="buttons">
                <button class="transparent-button" id="denyButton">
                  Deny
                </button>
                <button class="blue-button" id="approveButton">
                  Approve
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of Notification dropdown content-->
</div>
